<style>

    #bg {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.7;
        opacity: .70;
        filter: alpha(opacity=70);
    }

    #show {
        display: none;
        position: absolute;
        top: 25%;
        left: 22%;
        width: 53%;
        height: 49%;
        padding: 8px;
        border: 8px solid #E8E9F7;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
</style>
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
    <div class="list-div" id="listDiv">
        {/if}
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>充值单号</th>
                <th>银行卡号</th>
                <th>用户名</th>
                <th>充值金额</th>
                <th>充值单凭证</th>
                <th>充值单状态</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
            <tr>
                {foreach from=$verify_list item=verify}
            <tr>
                <td>{$verify.id}</td>
                <td>{$verify.exam_no}</td>
                <td>{$verify.card_no}</td>
                <td>{$verify.user_name}</td>
                <td>{$verify.money}</td>
                <td>
                    <img width="60px;" height="30px;" src="{$verify.image_info}" alt="">
                </td>
                <td>{$verify.type}</td>
                <td>{$verify.create_time}</td>
                <td>{$verify.update_time}</td>
                <td align="center">
                    <a href="javascript:;" verify_id="{$verify.id}" card_no="{$verify.card_no}"
                       verify_img="{$verify.image_info}"
                       verify_no="{$verify.exam_no}" onclick="showdiv(this)"
                       title="{$lang.edit}"><img src="images/icon_edit.gif" width="16" height="16" border="0"/></a>
                    <a href="javascript:;" onclick="remove_verify(this,{$verify.id})" title="{$lang.trash}"><img
                            src="images/icon_trash.gif" width="16" height="16" border="0"/></a>
                </td>
            </tr>
            {foreachelse}
            <tr>
                <td class="no-records" colspan="15">{$lang.no_records}</td>
            </tr>
            {/foreach}
            <tr>
                <td align="right" nowrap="true" colspan="15">{include file="page.htm"}</td>
            </tr>
        </table>
        {if $full_page}
    </div>
</form>

<div id="bg" onclick="hidediv();"></div>
<div id="show">
    <div class="main-div">
        <table align="center" width="100%">
            <tr>
                <td class="label">充值单号</td>
                <td id="verify_no">123123</td>
            </tr>
            <tr>
                <td class="label">银行卡号</td>
                <td id="card_no">aaaa</td>
            </tr>
            <tr>
                <td class="label">充值凭证</td>
                <td>
                    <img id="verify_img"
                         src="http://huodan-test.oss-cn-hangzhou.aliyuncs.com/data/157234332712.jpeg" alt="">
                </td>
            </tr>
        </table>
    </div>
    <div class="button-div">
        <!--修改代码_start By www.ecshop68.com 主要是给这两个INPUT各自增加了一个ID， id="goods_info_submit"  id="goods_info_reset" -->
        <input type="button" onclick="verify_check(this);" id="btn_1" checkverify="1" value="审核通过" class="button"/>
        <input type="button" onclick="verify_check(this);" id="btn_2" checkverify="2" value="审核不通过" class="button"/>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" language="JavaScript">
    function verify_check(obj) {
        var status = obj.getAttribute("checkverify");
        var verify_id = obj.getAttribute("verify_id");
        var is_no = status == 2 ? '不通过' : '通过';
        var isbeauty = confirm("确认审核" + is_no);
        if (isbeauty) {
            $.ajax({
                type: 'post',
                url: 'verify.php?act=passfex',
                data: {id: verify_id, status: status},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        alert(data.msg);
                        hidediv();
                    } else {
                        alert(data.msg);
                        hidediv();
                    }
                }
            })
        }
    }

    function showdiv(obj) {
        var card_no = obj.getAttribute("card_no");
        var verify_no = obj.getAttribute("verify_no");
        var verify_img = obj.getAttribute("verify_img");
        var verify_id = obj.getAttribute("verify_id");
        $('#verify_no').html(verify_no);
        $('#card_no').html(card_no);
        $('#verify_img').attr('src', verify_img);
        $('#btn_1').attr('verify_id', verify_id);
        $('#btn_2').attr('verify_id', verify_id);
        document.getElementById("bg").style.display = "block";
        document.getElementById("show").style.display = "block";
    }

    function hidediv() {
        document.getElementById("bg").style.display = 'none';
        document.getElementById("show").style.display = 'none';
    }

    function remove_verify(obj, id) {
        if (confirm('确定要删除吗')) {
            $.ajax({
                type: 'post',
                url: 'verify.php?act=remove',
                data: {id: id},
                dataType: 'json',
                success: function (data) {  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if (status == 1) {  //判断状态码，200为成功
                        $(obj).parent().parent().remove();
                        alert('删除成功')
                    } else {
                        alert('请重新操作')
                    }
                },
            });
        }
    }

    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};
    listTable.query = "query"
    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
    {literal}
    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    };
    {/literal}
</script>
{include file="pagefooter.htm"}
{/if}