{include file="pageheader.htm"}
{insert_scripts files="validator.js"}
<form action="verify.php" method="post" enctype="multipart/form-data" name="theForm">
    <div class="main-div">
        <table align="center" width="100%">
            <tr>
                <td class="label">用户审核等级</td>
                <td>
                    <select name="examines" onchange="onChangeGoodsType(this.value)">
                        {foreach from=$verify_list item=verify}
                        {if $verify_info.examines==$verify}
                        <option selected value="{$verify}">{$verify}</option>
                        {else}
                        <option value="{$verify}">{$verify}</option>
                        {/if}
                        {/foreach}
                    </select>
                </td>
            </tr>

        </table>
    </div>
    <div class="button-div">
        <!--修改代码_start By www.ecshop68.com 主要是给这两个INPUT各自增加了一个ID， id="goods_info_submit"  id="goods_info_reset" -->
        <input id="goods_info_submit" type="submit" value="{$lang.button_submit}" class="button"/>
        <input id="goods_info_reset" type="reset" value="{$lang.button_reset}" class="button"/>
        <!--修改代码_end By www.ecshop68.com-->
    </div>
    <input type="hidden" name="verify_info" value="{$verify_info.id}"/>
    <input type="hidden" name="user_id" value="{$verify_info.user_id}"/>
    <input type="hidden" name="id" value="{$verify_info.id}"/>
    <input type="hidden" name="act" value="{$form_act}"/>
</form>
{include file="pagefooter.htm"}