{if $full_page}
<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
    <div class="list-div" id="listDiv">
        {/if}
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>充值单号</th>
                <th>银行卡号</th>
                <th>用户名</th>
                <th>充值金额</th>
                <th>充值单凭证</th>
                <th>充值单状态</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
            <tr>
                {foreach from=$verify_list item=verify}
            <tr>
                <td>{$verify.id}</td>
                <td>{$verify.exam_no}</td>
                <td>{$verify.card_no}</td>
                <td>{$verify.user_name}</td>
                <td>{$verify.money}</td>
                <td>
                    <img width="60px;" height="30px;" src="{$verify.image_info}" alt="">
                </td>
                <td>{$verify.type}</td>
                <td>{$verify.create_time}</td>
                <td>{$verify.update_time}</td>
                <td align="center">
                    <a href="javascript:;" onclick="remove_verify(this,{$verify.id})" title="{$lang.trash}"><img
                            src="images/icon_trash.gif" width="16" height="16" border="0"/></a>
                </td>
            </tr>
            {foreachelse}
            <tr>
                <td class="no-records" colspan="15">{$lang.no_records}</td>
            </tr>
            {/foreach}
            <tr>
                <td align="right" nowrap="true" colspan="15">{include file="page.htm"}</td>
            </tr>
        </table>
        {if $full_page}
    </div>
</form>


<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" language="JavaScript">
    function remove_verify(obj, id) {
        if (confirm('确定要删除吗')) {
            $.ajax({
                type: 'post',
                url: 'verify.php?act=remove',
                data: {id: id},
                dataType: 'json',
                success: function (data) {  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if (status == 1) {  //判断状态码，200为成功
                        $(obj).parent().parent().remove();
                        alert('删除成功')
                    } else {
                        alert('请重新操作')
                    }
                },
            });
        }
    }

    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};
    listTable.query = "query"
    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
        {literal}
        onload = function()
        {
            // 开始检查订单
            startCheckOrder();
        };
        {/literal}
</script>
{include file="pagefooter.htm"}
{/if}