
{include file="pageheader.htm"}
{insert_scripts files="../js/transport.org.js,../js/region.js"}


<!-- 20180425 1700 V -->
<style type="text/css">
    
    .box {

        padding: 20px;
        min-height: 600px;
    }

    .score {

        float: left;
        margin: 0 20px;
    }

    .score span {

        display: inline-block;
        width: 208px;
    }

    .score label {

        display: inline-block;
        width: 90px;
    }

    font {

        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: #666;
        margin-bottom: 10px;

    }
    .goback {

        display: inline-block;
        height: 1.2rem;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.2rem 0.5rem;
        background: #eb8a3d;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
    }

    .goback:hover {

        background: #e8114b;
    }
</style>

<span class="goback">返回上一页</span>

<div class="main-div box">

    {if $rank==4}
    <div class="score" style="border-right: 1px solid #ccc;">
        
        <font> 团队积分设置 </font><br>

        <span> 新美积分冻结比例（%）：</span>
        <input type="text" id="xmps0" placeholder="80" value="{$xmps[0]}">
        <br>
        <span> 新美积分可用提现比例（%）：</span>
        <input type="text" id="xmps1" placeholder="100" value="{$xmps[1]}">
        <br>
        <span> 新美积分每日流入 T 积分比例（%）：</span>
        <input type="text" id="xmps2" placeholder="1" value="{$xmps[2]}">
        <br>
        <span> 回购利润转 T 积分比例（%）：</span>
        <input type="text" id="xmts" placeholder="80" value="{$xmcs[0]}">
        <br>
        <span> 回购利润转消费积分比例（%）：</span>
        <input type="text" id="xmss" placeholder="10" value="{$xmcs[1]}">
        <br>
        <span> 回购利润转上级团队奖比例（%）：</span>
        <input type="text" id="xmtop0" placeholder="7" value="{$xmcs[2]}">
        <br>
        <span> 回购利润转上上级团队奖比例（%）：</span>
        <input type="text" id="xmtop1" placeholder="3" value="{$xmcs[3]}">
        <br>

        <span></span>
        <input id="setting" type="button" class="button" name="" value="设置">
        <input id="userid" type="hidden" value="{$userid}">

    </div>
    
    <!-- 201800620 1643 T 积分提现限制 -->
    <!--<div class="score">-->

        <!--<font> T 积分提现设置 </font><br>-->

        <!--· H 单回购中的直推人数-提现上限：-->
        <!--<br>-->
        <!--<input type="text" id="lower0" placeholder="2-2000" value="{$xmts[0]}">-->
        <!--<br>-->
        <!--<input type="text" id="lower1" placeholder="3-3000" value="{$xmts[1]}">-->
        <!--<br>-->
        <!--<input type="text" id="lower2" placeholder="4-4000" value="{$xmts[2]}">-->
        <!--<br>-->
        <!--<input type="text" id="lower3" placeholder="5-5000" value="{$xmts[3]}">-->
        <!--<br>-->
        <!--<input type="text" id="lower4" placeholder="6-6000" value="{$xmts[4]}">-->
        <!--<br>-->
        <!--· 团队提现时间：-->
        <!--<br>-->
        <!--<input type="text" id="tstime" placeholder="1-5-9-23" value="{$tstime}">-->
        <!--<br>-->

        <!--<input id="tscore" type="button" class="button" name="" value="设置">-->

    <!--</div>-->

    <div class="score">

        <font> 单日交易数额设置 </font><br>
        · 单日购买最大数额
        <br>
        <input type="text" id="buy_max_money" placeholder="1000" value="{$daily_deal_buy_max_money}">
        <br>
         · 单日出售最大数额
        <br>
        <input type="text" id="sell_max_money" placeholder="1000" value="{$daily_deal_sell_max_money}">
        <br>
        <input id="bscore" type="button" class="button" name="" value="设置">

    </div>
    {/if}
    <div class="score">

        <font> 积分转移设置 </font><br>
        · T积分转移比例(%)
        <br>
        <input type="text" id="transfer_t_proportion" placeholder="0" value="{$transfer_t_proportion}">
        <br>
         · H积分转移比例(%)
        <br>
        <input type="text" id="transfer_h_proportion" placeholder="0" value="{$transfer_h_proportion}">
        <br>
        <input id="transfer" type="button" class="button" name="" value="设置">
        <input id="userid" type="hidden" value="{$userid}">
    </div>
</div>

{literal}
<script type="text/javascript">
    
    $(".goback").on("click", function() {

        window.history.back();
    });

    $("#setting").on("click", function(){

        var xmps0 = $("#xmps0").val();
        var xmps1 = $("#xmps1").val();
        var xmps2 = $("#xmps2").val();

        var xmts = $("#xmts").val();
        var xmss = $("#xmss").val();

        var xmtop0 = $("#xmtop0").val();
        var xmtop1 = $("#xmtop1").val();
        var userid = $("#userid").val();

        if (!xmps0 || !xmps1 || !xmps2 || !xmts || !xmss || !xmtop0 || !xmtop1) {

            alert("请填写完整");
            return;
        }

        if (!userid) {

            alert("请返回上一页，刷新重试");
            return;
        }

        var xmps = xmps0 + '-' + xmps1 + '-' + xmps2;
        var xmcs = xmts + '-' + xmss + '-' + xmtop0 + '-' + xmtop1;
        
        $.ajax({
            type:"POST",
            url:"users.php",
            dataType: "json",
            data:{act:'set_group_limit', xmps:xmps, xmcs:xmcs, id:userid},
            success: function(data) {

                alert(data.msg);
                if (data.ret == 1) {

                    location.reload();
                }
            }
        });

    });


    $("#tscore").on("click", function() {

        var lower0 = $("#lower0").val();
        var lower1 = $("#lower1").val();
        var lower2 = $("#lower2").val();
        var lower3 = $("#lower3").val();
        var lower4 = $("#lower4").val();

        var tstime = $("#tstime").val();

        var userid = $("#userid").val();

        if (!lower0 || !lower1 || !lower2 || !lower3 || !lower4 || !tstime) {

            alert("请填写完整");
            return;
        }

        if (!userid) {

            alert("请返回上一页，刷新重试");
            return;
        }

        var lower_arr = new Array();
        lower_arr = [lower0,lower1,lower2,lower3,lower4];

        $.ajax({
            type: "POST",
            url: "users.php",
            dataType: "json",
            data:{act:"set_group_tscore", lower:lower_arr, tstime:tstime, userid:userid},
            success: function(res) {

                alert(res.msg);
                if (res.ret == 1) {

                    location.reload();
                }
            }
        });
    });

    $("#bscore").on("click", function() {

        var sell_max_money = $("#sell_max_money").val();
        var buy_max_money = $("#buy_max_money").val();
        var userid = $("#userid").val();

        if (!sell_max_money || !buy_max_money) {

            alert("请填写完整");
            return;
        }

        if (!userid) {

            alert("请返回上一页，刷新重试");
            return;
        }
        $.ajax({
            type: "POST",
            url: "users.php",
            dataType: "json",
            data:{act:"set_group_bscore", buy_max_money:buy_max_money, sell_max_money:sell_max_money,userid:userid},
            success: function(res) {

                alert(res.msg);
                if (res.ret == 1) {

                    location.reload();
                }
            }
        });
    });

    $("#transfer").on("click", function() {

        var transfer_t_proportion = $("#transfer_t_proportion").val();
        var transfer_h_proportion = $("#transfer_h_proportion").val();
        var userid = $("#userid").val();

        if (!userid) {

            alert("请返回上一页，刷新重试");
            return;
        }
        $.ajax({
            type: "POST",
            url: "users.php",
            dataType: "json",
            data:{act:"set_group_transfer", transfer_t_proportion:transfer_t_proportion, transfer_h_proportion:transfer_h_proportion,userid:userid},
            success: function(res) {

                alert(res.msg);
                if (res.ret == 1) {

                    location.reload();
                }
            }
        });
    });

</script>
{/literal}

{include file="pagefooter.htm"}
