<!-- $Id: account_list.htm 14928 2008-10-06 09:25:48Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<!-- edit 修改会员帐号变动明细页 2017年2月28日 14:48:20 by fzp -->
<!-- 20180516 1354 V -->
    <div class="form-div">
        <form method="post" action="account_log.php?act=list&user_id={$smarty.get.user_id}" name="searchForm">

            <select name="type" onchange="document.forms['searchForm'].submit()">
                <option value="" {if $type eq 0}selected="selected"{/if}>所有账户类型</option>
                <option value="2" {if $type eq 2}selected="selected"{/if}>优惠券</option>
                <option value="3" {if $type eq 3}selected="selected"{/if}>待释放优惠券</option>
            </select>

            <style type="text/css">
                font {

                    color: #22d74a;
                }
            </style>

            <strong>{$lang.label_user_name}</strong>{$user.user_name}&nbsp;
            <strong>优惠券</strong> : <font>{$user.balance}</font>&nbsp;
            <strong>待释放优惠券</strong> : <font>{$user.release_balance}</font>&nbsp;
        </form>
    </div>

    <form method="post" action="" name="listForm">
        <div class="list-div" id="listDiv">
        {/if}

        <table cellpadding="3" cellspacing="1" style="text-align: center;">
            <tr>
                <th>时间</th>
                <th>类型</th>
                <th>金额</th>
                <th>变动后金额</th>
                <th>备注</th>
            </tr>

            {foreach from=$list item=item}
                <tr>
                    <td>{$item.create_at}</td>
                    <td>
                    {if $item.type eq 2}
                        优惠券
                    {elseif $item.type eq 3}
                        待释放优惠券
                    {/if}
                    </td>
                    <td>

                        <span {if $item['status'] eq 2}
                                    style="color:#0000FF"
                              {elseif $item['status'] eq 3}
                                    style="color:#FF0000"
                              {/if}
                        >{$item.amount}</span>

                    </td>
                    <td>
                        {if $item.surplus > 0}
                            {$item.surplus}
                        {elseif $item.surplus <= 0}
                            0.00
                        {/if}
                    </td>
                    <td>{$item.notes}</td>
                </tr>
            {foreachelse}
                <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
            {/foreach}
        </table>

        <table id="page-table" cellspacing="0">
            <tr>
                <td align="right" nowrap="true">
                {include file="page.htm"}
                </td>
            </tr>
        </table>

        {if $full_page}
        </div>
    </form>

<script type="text/javascript" language="javascript">

  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

</script>
{include file="pagefooter.htm"}
{/if}
