<!-- $Id: account_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}

<div class="main-div">
<form method="post" action="account_log.php" name="theForm" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.label_user_name}</td>
    <td>{$user.user_name}{if $user.supplier_name}【{$user.supplier_name}】{/if}</td>
  </tr>
  <tr>
    <td class="label">{$lang.label_change_desc}</td>
    <td><textarea  name="change_desc" cols="60" rows="4"></textarea></td>
  </tr>
  <!-- edit 调节会员账户 2017年2月28日 14:50:07 by fzp  -->
  <tr>
    <td class="label">优惠券</td>
    <td><select name="add_sub_balance" id="add_sub_balance">
      <option value="+" selected="selected">{$lang.add}</option>
      <option value="-">{$lang.subtract}</option>
    </select>
    <input name="balance" type="text" id="balance" style="text-align:right" value="0" size="10" />
    {$lang.current_value}{$user.balance}</td>
  </tr>
  <tr>
    <td class="label">待释放优惠券</td>
    <td><select name="add_sub_release_balance" id="add_sub_release_balance">
      <option value="+" selected="selected">{$lang.add}</option>
      <option value="-">{$lang.subtract}</option>
    </select>
      <input name="release_balance" type="text" id="release_balance" style="text-align:right" value="0" size="10" />
      {$lang.current_value}{$user.release_balance}</td>
  </tr>

  <!-- end -->
  <tr>
    <td colspan="2" align="center">
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="insert" />
      <input type="hidden" name="account_id" value="{$smarty.get.account_id}" />
      <input type="hidden" name="user_id" value="{$user.user_id}" />
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
//  */
// // edit 修改积分提示信息 2017年2月27日 13:23:59 by fzp
// function validate()
// {
//   validator = new Validator("theForm");
//   validator.required("change_desc",  no_change_desc);
// 	validator.isInt("cash", cash_not_int);
//   validator.isInt("consume", consume_not_int);
//   validator.isInt("invest", invest_not_int);
//
//   validator.isInt("share", share_not_int);
// //  validator.isInt("shopping", shopping_not_int);
// //	validator.isInt("useable", useable_not_int);
//
//    /*validator = new Validator("theForm");
//   validator.required("change_desc",  no_change_desc);
//   validator.isNumber("user_money", user_money_not_number);
//   validator.isNumber("frozen_money", frozen_money_not_number);
//   validator.isInt("rank_points", rank_points_not_int);
//   validator.isInt("pay_points", pay_points_not_int);*/
//
//  // end
//     return validator.passed();
// }

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
