<!-- $Id: goods_info.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
<!-- 修改 by www.68ecshop.com 百度编辑器 begin -->

{include file="pageheader_bd.htm"} {insert_scripts files="../js/utils.js,selectzone_bd.js,colorselector.js"}
<!-- 修改 by www.68ecshop.com 百度编辑器 end -->
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<!-- 代码增加 By  www.68ecshop.com 促销商品时间精确到时分 Start -->
<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<!-- 代码增加 By  www.68ecshop.com 促销商品时间精确到时分 End -->

<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<!-- zTree Style -->
<link href="styles/zTree/zTreeStyle.css" rel="stylesheet" type="text/css" />
{insert_scripts files='jquery.ztree.all-3.5.min.js,category_selecter.js'} {if $warning}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
    <li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;">{$warning}</li>
</ul>
{/if}

<!-- start goods form -->
<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
            <span class="tab-back" id="detail-tab">详细描述</span>
            <span class="tab-back" id="groupgoods-tab">商品规格图片</span>
            <span class="tab-back" id="properties-tab">商品属性</span>
            <span class="tab-back" id="extra-tab">易物信息</span>
        </p>
    </div>

    <!-- tab body -->
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="" method="post" name="theForm">
            <!-- 最大文件限制 -->
            <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
            <!-- 通用信息 -->
            <table width="100%" id="general-table" align="center">
                <tr>
                    <td class="label">商品名字</td>
                    <td>
                      <input type="text" name="goods_name" value="{$goods.p_title|escape}" size="20" />
                        {$lang.require_field}
                    </td>
                </tr>

                <tr>
                    <td class="label">商品描述</td>
                    <td>
                      <input type="text" name="goods_describe" value="{$goods.p_describe|escape}" size="20" />
                    </td>
                </tr>

                    <tr>
                    <td class="label">
                        商品编号
                    </td>
                    <td>
                        <input type="text" name="goods_sn" value="{$goods.p_sn|escape}" size="20"  />
                        <span class="notice-span" >可不填，随机产生</span>
                    </td>
                </tr>
                <tr>
                <td  class="label">分类</td>
                <td>
                    <select class="chzn-select" name="cate1" id="cate1">
                        <option value=''>请选择</option>
                          {foreach from=$cate item=cate}
                        <option value="{$cate.cate_id}" {if $goods.cate_id==$cate.cate_id}selected{/if}>{$cate.cate_title}</option>
                         {/foreach}
                    </select>
                     <select name="cate2" id="cate2">
                         {if $child_cate}
                          {foreach from=$child_cate item=child_cate}
                        <option value="{$child_cate.cate_id}" {if $goods.child_cate_id==$child_cate.cate_id}selected{/if}>{$child_cate.cate_title}</option>
                         {/foreach}
                         {else}
                         <option value="0">暂无二级分类</option>
                         {/if}

                    </select>
                </td>
            </tr>
                 <script>
                      /**
  * 检查货号是否存在
  */
  function checkGoodsSn(goods_sn, goods_id)
  {
    if (goods_sn == '')
    {
        document.getElementById('goods_sn_notice').innerHTML = "";
        return;
    }

    var callback = function(res)
    {
      if (res.error > 0)
      {
        document.getElementById('goods_sn_notice').innerHTML = res.message;
        document.getElementById('goods_sn_notice').style.color = "red";
      }
      else
      {
        document.getElementById('goods_sn_notice').innerHTML = "";
      }
    }
    Ajax.call('app_goods.php?is_ajax=1&act=check_goods_sn', "goods_sn=" + goods_sn + "&goods_id=" + goods_id, callback, "GET", "JSON");
  }
    $(function(){
        //初始化数据
        var url = 'app_goods.php?act=query_cate'; //后台地址
        $("#cate1").change(function(){  //监听下拉列表的change事件
            var cate1 = $(this).val();  //获取下拉列表选中的值
            //发送一个post请求
            $.ajax({
                type:'post',
                url:url,
                data:{key:cate1},
                dataType:'json',
                success:function(data){  //请求成功回调函数
                    var status = data.status; //获取返回值
                    var cate2 = data.cate2;
                    if(status == 1){  //判断状态码，200为成功
                        var option = '';
                        for(var i=0;i<cate2.length;i++){  //循环获取返回值，并组装成html代码
                            option +="<option value='"+cate2[i].cate_id+"'>"+cate2[i].cate_title+'</option>';
                        }
                    }else{
                        var option = '<option value="0">暂无二级分类</option>';  //默认值
                    }

                    $("#cate2").html(option);  //js刷新第二个下拉框的值
                },
            });
        });
    });
    </script>
                <tr>
                    <td class="label">商品图片</td>
                    <td>
                        <input type="file" name="goods_img" size="35" />
                        <input type="hidden" name="goods_img_hidden" size="35" value="{$goods.p_list_pic}"/>
                            {if $child_cate}
                        <a href="app_goods.php?act=show_image&img_url={$goods.p_list_pic}" target="_blank">
                            <img src="images/yes.gif" border="0" />
                        </a>
                        {else}
                        <img src="images/no.gif" />
                        {/if}
                    </td>
                </tr>

                <tr>
                    <td  class="label">是否需要轮播视频</td>
                    <td>
                        <select class="chzn-select" name="is_video">
                            <option value="1" {if $goods.type_c==1}selected{/if}>否</option>
                            <option value="2" {if $goods.type_c==2}selected{/if}>是</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td class="label">商品视频</td>
                    <td>
                        <input type="file" name="video_url" size="35" />
                        <input type="hidden" name="video_url_hidden" size="35" value="{$goods.video_url}"/>
                    </td>
                </tr>

                    <tr>
                    <td class="label">商品库存</td>
                    <td>
                      <input type="text" name="goods_stock" value="{$goods.p_stock|escape}" size="20" />
                    </td>
                </tr>
                {if $child_cate}
                 {$img_str}
                {else}
                <tr>
                    <td class="label"><span id="add_good_thumb">[+]</span>&nbsp;&nbsp;详情轮播图</td>
                    <td>
                        <input type="file" name="goods_thumb[]" size="35" />
                        <img src="images/no.gif" />
                    </td>
                </tr>
                {/if}

                <script>
                    $('#add_good_thumb').on('click', function() {
                        var str = '<tr><td class="label"><span onclick="remove_good_thumb(this)">[-]</span>&nbsp;&nbsp;详情轮播图</td><td><input type="file" name="goods_thumb[]" size="35" /><img src="images/no.gif" /></td></tr>'
                        $(this).parent().parent().parent().append(str);
                    });
                    function remove_good_thumb(obj) {
                        $(obj).parent().parent('tr').remove();
                    }

                </script>
            </table>

            <!-- 详细描述 -->
            <table width="100%" id="detail-table" style="display:none">
                <tr>
                    <td>{$FCKeditor}</td>
                </tr>
            </table>

           <!-- 商品相册 -->
            <table width="100%" id="groupgoods-table" style="display:none" align="center">
                <!-- 图片列表 -->
                {if $attr_color_imgs}
                {foreach from=$attr_color_imgs item=color_imgs}
                <tr>
                    <td class="label">{$color_imgs.color_name}</td>
                    <td>
                        <input type="file" name="color_img[]" size="35" />
                        <input type="hidden" name="color_img_hidden[]" size="35" value="{$color_imgs.color_img}"/>
                        <input type="hidden" name="color_img_ids[]" value="{$color_imgs.color_ids}"  />
                        {if $color_imgs.color_img}
                        <a href="app_goods.php?act=show_image&img_url={$color_imgs.color_img}" target="_blank">
                            <img src="images/yes.gif" border="0" />
                        </a>
                        {else}
                        <img src="images/no.gif" />
                        {/if}
                    </td>
                </tr>
                {/foreach}
                {else}
                <tr>
                    <td style="text-align: center;font-size: 20px;margin-top: 60px;">请在编辑状态下添加颜色的规格图片</td>
                </tr>
                {/if}

              <style>
        .control-group {
            display:inline-block ;
        }
</style>
<script>

    function getObjectURL(file) {
        var url = null ;
        if (window.createObjectURL!=undefined) { // basic
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
    $("input[type='file']").change(function(e) {
             $(this).parent().prev().attr('src',getObjectURL(this.files[0]))
    });
</script>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
           <!--商品属性 -->
          <table width="100%" id="properties-table" style="display:none" align="center">

                <tr>
                    <td class="control-group" style="padding-left: 400px;">
                        <span>是否启用多规格</span><input name="checkbox" type="checkbox" {if $is_size}checked="checked"{/if}value="1" onclick="checkboxOnclick(this)" />
                    </td>
                </tr>
                <tr {if $is_size}style="display: block;"{else}style="display: none;"{/if} id="price_show">
                    <td class="control-group" style="padding-left: 400px;">
                    <input id="add_lv1" type="button" value="添加规格项" class="button" />
                    <input id="update_table" onclick="update_tables()" type="button" value="刷新规格项目表" class="button" />
                    </td>
              </tr>
              {$attr_str}


              <script>
                  $().ready(function(){
                        update_tables();
                  })
                  function checkboxOnclick(checkbox){
                    if ( checkbox.checked == true){
                        $("#price_show").css('display','block');
                    }else{
                        $("#price_show").css('display','none');
                    }
                  }

                  var str =   JSON.stringify({$attr});
                   str = JSON.parse(str);
                  var attr_str = '';
                    $.each(str,function (i,item) {
                      attr_str += "<option value='"+item.attr_id+"' >"+item.attr_title+"</option>";
                  })
                  var lv1HTML = '<tr><td class="control-group lv1" style="padding-left: 300px;">' +
                    '<div class="controls">' +
                        ' <select name="lv1[]" class="select" > <option value="-1">请选择</option> '+attr_str+' </select>' +
                        '<input type="button" value="+" class="button add_lv2" />' +
                        '<input type="button" value="-" class="button remove_lv1" />' +
                    '</div>' +
                    '<div class="controls lv2s"></div>' +
                '</td></tr>';


        function update_tables(){
               var lv1Arr = $('.select option:selected');
              {if $is_size}
               var price =   JSON.stringify({$size_goods_price});
                   price = JSON.parse(price);
            var size_id =   JSON.stringify({$size_id});
                   size_id = JSON.parse(size_id);
            var stock =   JSON.stringify({$size_stock});
               stock = JSON.parse(stock);
               var balance =   JSON.stringify({$size_balance_price});
               balance = JSON.parse(balance);
            {else}
              var price =0 ;
              var stock = 0;
              var size_id=0;
              var balance=0;
                {/if}
               var new_price = 0;
               var new_stock = 0;
               var new_size_id =0;
               var new_balance = 0;

            if (!lv1Arr || lv1Arr.length == 0) {
                $('#lv_table_con').hide();
                $('#lv_table').html('');
                return;
            }
            for (var i = 0; i < lv1Arr.length; i++) {
                var lv2Arr = $(lv1Arr[i]).parents('.lv1').find('.select2 option:selected');
                if (!lv2Arr || lv2Arr.length == 0) {
                    alert('请先删除无参数的规格项！');
                    return;
                }
            }

            var tableHTML = '';
            tableHTML += '<table style="padding-left: 30px;">';
            tableHTML += '    <thead>';
            tableHTML += '        <tr>';
            for (var i = 0; i < lv1Arr.length; i++) {
                tableHTML += '<th width="50">' + $(lv1Arr[i]).text() + '</th>';
            }
            tableHTML += '            <th width="20">现金</th>';
            tableHTML += '            <th width="20">优惠券</th>';
            tableHTML += '            <th width="20">库存</th>';
            tableHTML += '        </tr>';
            tableHTML += '    </thead>';
            tableHTML += '    <tbody>';

            var numsArr = new Array();
            var idxArr = new Array();
            for (var i = 0; i < lv1Arr.length; i++) {
                numsArr.push($(lv1Arr[i]).parents('.lv1').find('.select2 option:selected').length);
                idxArr[i] = 0;
            }

            var len = 1;
            var rowsArr = new Array();
            for (var i = 0; i < numsArr.length; i++) {
                len = len * numsArr[i];

                var tmpnum = 1;
                for (var j = numsArr.length - 1; j > i; j--) {
                    tmpnum = tmpnum * numsArr[j];
                }
                rowsArr.push(tmpnum);
            }

            for (var i = 0; i < len; i++) {
                tableHTML += '        <tr data-row="' + (i+1) + '">';

                var name = '';

                for (var j = 0; j < lv1Arr.length; j++) {
                    var n = parseInt(i / rowsArr[j]);
                    if (j == 0) {
                    } else if (j == lv1Arr.length - 1) {
                        n = idxArr[j];
                        if (idxArr[j] + 1 >= numsArr[j]) {
                            idxArr[j] = 0;
                        } else {
                            idxArr[j]++;
                        }
                    } else {
                        var m = parseInt(i / rowsArr[j]);
                        n = m % numsArr[j];
                    }

                    var text = $(lv1Arr[j]).parents('.lv1').find('.select2 option:selected').eq(n).text();
                    var vals = $(lv1Arr[j]).parents('.lv1').find('.select2 option:selected').eq(n).val();
                    if (j != lv1Arr.length - 1) {
                       name += vals+ '_';
                    } else {
                        name += vals;
                    }

                    if (i % rowsArr[j] == 0) {
                        tableHTML += '<td width="50" rowspan="' + rowsArr[j] + '" data-rc="' + (i+1) + '_' + (j+1) + '">' + text + '</td>';
                    }
                }

                if(typeof(price[name])=="undefined"){
                    tableHTML += '<td width="20"><input type="text" name="' + name + '_t_price" value="0" /><input type="hidden" name="hidden_name[]" value="'+name+'"/>';
                }else{
                    tableHTML += '<td width="20"><input type="text" name="' + name + '_t_price" value="'+price[name]+'" /><input type="hidden" name="hidden_name[]" value="'+name+'"/>';
                }

                if(typeof(balance[name])=="undefined"){
                    tableHTML += '<td width="20"><input type="text" name="' + name + '_t_balance" value="0" />';
                }else{
                    tableHTML += '<td width="20"><input type="text" name="' + name + '_t_balance" value="'+balance[name]+'" />';
                }

                 if(typeof(size_id[name])=="undefined"){
                    tableHTML += '<input type="hidden" name="'+name+'_size_id" value="0"/></td>';
                }else{
                     tableHTML += '<input type="hidden" name="'+name+'_size_id" value="'+size_id[name]+'"/></td>';
                 }
                 if(typeof(stock[name])=="undefined"){
                    tableHTML += '<td width="20"><input type="text" name="' + name + '_total" value="0"/></td>';
                }else{
                     tableHTML += '<td width="20"><input type="text" name="' + name + '_total" value="'+stock[name]+'"/></td>';
                 }
                tableHTML += '</tr>';
            }
            tableHTML += '</tbody>';
            tableHTML += '</table>';

            $('#lv_table_con').show();
            $('#lv_table').html(tableHTML);
          }
    $(document).ready(function() {
        $('#add_lv1').on('click', function() {
            $(this).parent().parent().append(lv1HTML);
        });

        $(document).on('click', '.remove_lv1', function() {
            $(this).parents('.lv1').remove();
        });

        $(document).on('click', '.add_lv2', function() {
            var attr_id = $(this).prev().val();
            var attr_name = $(this).prev().find('option:selected').text();
            var mythis = $(this);
            $.ajax({
                type:'post',
                url: 'app_goods.php?act=query_attr', //后台地址,
                data:{key:attr_id},
                dataType:'json',
                success:function(data){  //请求成功回调函数
                    var status = data.status; //获取返回值
                    var attr = data.attr;
                    if(status == 1){  //判断状态码，200为成功
                        var option = '<td><div style="margin-top: 5px;"><select name="'+attr_id+'lv2[]" class="select2"  ><option value="-1">请选择</option>';
                        for(var i=0;i<attr.length;i++){  //循环获取返回值，并组装成html代码
                            option +="<option value='"+attr[i].attr_val_id+"'>"+attr[i].attr_val_name+'</option>';
                        }
                        option +='<input type="button" value="-" class="button remove_lv2" /></div></td>';
                       mythis.parents('.lv1').append(option);
                    }else{
                        alert('请及时补充该属性下面的属性值');
                        return;//默认值
                    }
                },
            });

        });

        $(document).on('click', '.remove_lv2', function() {
            $(this).parent().remove();
        });

    });
</script>
              <tr>
<td id="lv_table_con" class="control-group" style="display: none;">
    <div class="controls">
        <div id="lv_table">

        </div>
    </div>
</td>

                </tr>
            </table>

            <!-- edit shengl 2017年2月7日17:45:02 -->
            <!-- 易物信息 -->
            <table width="90%" id="extra-table" style="display:none" align="center">
                <tr class="midyiwu">
                    <td class="label">
                        商城类型：</td>
                     <td>
                    <select class="chzn-select" name="goods_type" id="goods_type" onchange="goodstype()">
                        <option value='0'>请选择</option>
                        <option value="1" {if $goods.p_type=="1"}selected{/if}>礼包专区</option>
                        <option value="4" {if $goods.p_type=="4"}selected{/if}>新人专享</option>
                        <option value="3" {if $goods.p_type=="3"}selected{/if}>品牌专区</option>
                    </select>
                </td>
                    <script>
                        $().ready(function(){
                                goodstype();
                        })
                        function goodstype(){
                            if($("#goods_type").val()==1){
                                $(".y_shop").show();
                                $(".j_shop").hide();
                                $(".h_shop").hide();
                            } else if($("#goods_type").val()==4){
                                $(".y_shop").hide();
                                $(".j_shop").show();
                                $(".h_shop").hide();
                            }else if($("#goods_type").val()==3){
                                $(".y_shop").hide();
                                $(".j_shop").hide();
                                $(".h_shop").show();
                            }else{
                                $(".y_shop").hide();
                                $(".j_shop").hide();
                                $(".h_shop").hide();
                            }
                        }
                    </script>
                </tr>
                <tr>
                    <td class="label">
                        购买商品市场价：</td>
                    <td><input type="text" name="market_price" value="{$goods.market_price}"  />
                    </td>
                </tr>

                <tr class="y_shop" style="display:none">
                    <td class="label">
                        购买商品所需现金额度：</td>
                    <td><input type="text" name="b_cash" value="{$goods.p_cash}"  />
                    </td>
                </tr>
                <tr class="y_shop" style="display:none">
                    <td class="label">
                        购买商品所需优惠券额度：</td>
                    <td><input type="text" name="b_balance" value="{$goods.p_balance}"  />
                    </td>
                </tr>
                <!--<tr class="j_shop" style="display:none">-->
                    <!--<td class="label">-->
                        <!--购买商品所需现金额度：</td>-->
                    <!--<td><input type="number" name="y_balance" value="{$goods.p_balance}" size="20" />-->
                    <!--</td>-->
                <!--</tr>-->
                <tr class="j_shop" style="display:none">
                    <td class="label">
                        购买商品所需现金额度：</td>
                    <td><input type="text" name="y_cash" value="{$goods.p_cash}"  />
                    </td>
                </tr>

                <tr class="h_shop" style="display:none">
                    <td class="label">
                        购买商品所需现金额度：</td>
                    <td><input type="text" name="p_cash" value="{$goods.p_cash}"  />
                    </td>
                </tr>
                <tr class="h_shop" style="display:none">
                    <td class="label">
                        购买商品所需优惠券额度：</td>
                    <td><input type="text" name="p_balance" value="{$goods.p_balance}"  />
                    </td>
                </tr>

                <tr>
                    <td class="label">
                        最大购买数：</td>
                    <td><input type="text" name="max_num" value="{if isset($goods.max_num)}{$goods.max_num}{else}-1{/if}"  />
                    </td>
                </tr>
            </table>
            <!-- end -->

            <div class="button-div">
                <input type="hidden" name="goods_id" value="{$goods.p_id}" />

                <!--修改代码_start By www.ecshop68.com 主要是给这两个INPUT各自增加了一个ID， id="goods_info_submit"  id="goods_info_reset" -->
                <input id="goods_info_submit" type="submit" value="{$lang.button_submit}" class="button" />
                <input id="goods_info_reset" type="reset" value="{$lang.button_reset}" class="button" />
                <!--修改代码_end By www.ecshop68.com-->

            </div>
            <input type="hidden" name="act" value="{$form_act}" />
        </form>
    </div>
</div>
<!-- end goods form -->
{insert_scripts files="validator.js,tab.js"}
<script language="JavaScript">

</script>
{include file="pagefooter.htm"}
