<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<script type='text/javascript' src='../js/calendar.php' ></script>
<link href='../js/calendar/calendar.css' rel='stylesheet' type='text/css' />
<!--搜索区域-->
<div style="text-align: right;"><a href="app_excel.php?act=team_order"><input class="button" type="submit" value=" 业绩导出 "></a></div>
<div class="form-div">
    <form action="app_team_order.php?act=app_list" method="post" name="theForm">
        <table>
            <tr>
                <td>手机号</td>
                <td><input name='mobile_phone' type='text' size='20'/></td>
                <td>姓名</td>
                <td><input name='name' type='text' size='16'/></td>
                <td><select name="day">
                    <option value="0">请选择时间</option>
                    <option value="1" {if $day==1}selected{/if}>昨天</option>
                    <option value="7" {if $day==7}selected{/if}>近7天</option>
                    <option value="16" {if $day==16}selected{/if}>近16天</option>
                    <option value="30" {if $day==30}selected{/if}>近30天</option>
                </select></td>
                <td><input class="button" type="submit" value=" 搜索 "></td>
            </tr>
        </table>
    </form>
</div>
<div class="list-div" id="listDiv">
    {/if}

    <table cellpadding="3" cellspacing="1">
        <tr>
            <th>手机号</th>
            <th>姓名</th>
            <th>业绩</th>
        </tr>
        {foreach from=$performance item=per}
        <tr>
            <td class="first-cell">
                <span>{$per.mobile_phone}</span>
            </td>
            <td class="first-cell">
                <spa>{$per.real_name}</spa>
            </td>
            <td class="first-cell">
                <span>{$per.money}</span>
            </td>
        </tr>
        {foreachelse}
        <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
        {/foreach}
        <tr>
            <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
        </tr>
    </table>

    {if $full_page}
</div>
<!-- end ad_position list -->
</form>

<script type="text/javascript" language="JavaScript">



    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
        {literal}
        onload = function()
        {
            // 开始检查订单
            startCheckOrder();
        }
        {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
