<!-- $Id: ads_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../js/select/jquery.combo.select.js"></script>
<link href="../js/select/combo.select.css" rel="stylesheet" type="text/css"/>
<div class="main-div">
    <form action="carousel.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">
                    </a>轮播名字
                </td>
                <td>
                    <input type="text" name="ad_name" value="{$ads.ca_name}" size="35"/><span
                        class="require-field">*</span>
                </td>
            </tr>

            <tr>
                <td class="label">轮播位置</td>
                <td>
                    <select class="chzn-select" name="position_id">
                        <option value='1' {if $ads.position_id=="1"}selected{/if}>首页</option>
<!--                         <option value='2' {if $ads.position_id=="2"}selected{/if}>报单专区</option>
                        <option value='3' {if $ads.position_id=="3"}selected{/if}>优惠券专区</option> -->
                        <option value='4' {if $ads.position_id=="4"}selected{/if}>礼包专区</option>
                        <option value='5' {if $ads.position_id=="5"}selected{/if}>火单头条</option>
                        {foreach from=$cate item=list}
                            <option value="{$list.cate_id}" {if $list.cate_id==$ads.position_id}selected{/if}>{$list.cate_title}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">跳转类型</td>
                <td>
                    <select class="chzn-select jump_type" name="type">
                        <option value='goods' {if $ads.type=="goods"}selected{/if}>商品</option>
                        <!--<option value='seller' {if $ads.type=="seller"}selected{/if}>店铺</option>-->
                        <option value='link' {if $ads.type=="link"}selected{/if}>web链接</option>
                        <!--跳转到分类分类-->
                        <option value="cate" {if $ads.type=="cate"}selected{/if}>分类</option>
                        <option value="novice" {if $ads.type=="novice"}selected{/if}>新人专享</option>
                    </select>
                </td>
            </tr>
            <tr id="goods_type" {if !$is_add}{if $ads.type!="goods"}style="display: none;"{/if}{/if}>
                <td class="label">选择商品</td>
                <td>
                    <select class="combo-select" name="goods_id">
                        {foreach from=$goods item=goods}
                        <option value='{$goods.p_id}' {if $goods.p_id==$ads.itemId}selected{/if}>{$goods.p_title}
                        </option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr id="link_type" {if !$is_add}{if $ads.type!="link"}style="display: none;"{/if}{else}style="display: none;"{/if}>
                <td class="label">
                   填写链接
                </td>
                <td>
                    <input type="text" name="itemId" value="{$ads.itemId}" size="35"/>
                </td>
            </tr>


            <tr id="cate_type" {if !$is_add}{if $ads.type!="cate"}style="display: none;"{/if}{else}style="display:none;"{/if}>
                <td class="label">跳转分类</td>
                <td>
                    <select class="chzn-select" name="cate_id">
                        {foreach from=$cate item=list}
                            <option value="{$list.cate_id}" {if $list.cate_id == $ads.itemId}selected{/if}>{$list.cate_title}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>

            <tr>
                <td class="label">上传内容</td>
                <td>
                    <select class="chzn-select jump_type" name="type_c">
                        <option value="1" {if $ads.type_c==1}selected{/if}>图片</option>
                        <option value="2" {if $ads.type_c==2}selected{/if}>视频</option>
                    </select>
                </td>
            </tr>
            <tr id="image" {if !$is_add}{if $ads.type_c!="1"}style="display: none;"{/if}{/if}>
                    <td class="label">上传图片</td>
                    <td>
                        <input type="file" name="ad_img" size="35" />
                        <input type="hidden" name="ad_img_hidden" size="35" value="{$ads.img}"/>
                            {if $ads.img}
                        <a href="carousel.php?act=show_image&img_url={$ads.img}" target="_blank">
                            <img src="images/yes.gif" border="0" />
                        </a>
                        {else}
                        <img src="images/no.gif" />
                        {/if}
                    </td>
            </tr>

            <tr id="video" {if !$is_add}{if $ads.type_c!=2}style="display: none;"{/if}{else}style="display:none;"{/if}>
                <td class="label">上传视频</td>
                <td>
                    <input type="file" name="ad_video" size="35" />
                    <input type="hidden" name="ad_video_hidden" size="35" value="{$ads.video_url}"/>
                </td>
            </tr>

            <tr style="display: none">
                <td class="label">{$lang.img_url}</td>
                <td><input type="text" name="img_url" value="{$url_src}" size="35"/></td>
            </tr>

            <tr style="display: none">
                <td class="label">{$lang.video_url}</td>
                <td><input type="text" name="video_url" value="{$video_src}" size="35"/></td>
            </tr>

            </tbody>

            <tr>
                <td class="label">{$lang.enabled}</td>
                <td>
                    是 <input type="radio" name="enabled" value="1" {if $ads.enabled eq 1} checked="true" {/if}
                    />{$lang.is_enabled}
                    否<input type="radio" name="enabled" value="0" {if $ads.enabled eq 0} checked="true" {/if}
                    />{$lang.no_enabled}
                </td>
            </tr>

            <tr>
                <td class="label">
                    </a>颜色值
                </td>
                <td>
                    <input type="text" name="color_value" value="{$ads.color_value}" size="35"/><span
                        style="color: #5e5e5e">例如：(#000000)</span>
                </td>
            </tr>

            <tr>
                <td class="label">属性</td>
                <td>
                    <select class="chzn-select" name="status">
                        <option value="0">无</option>
                        <option value="1" {if $ads.status=="1"}selected{/if} >H5爆款</option>
                        <option value="2" {if $ads.status=="2"}selected{/if}>H5新品</option>
                        <option value="3" {if $ads.status=="3"}selected{/if}>App热销图</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="label">&nbsp;</td>
                <td>
                    <input type="submit" value="{$lang.button_submit}" class="button" onclick="return checkImg();"/>
                    <input type="reset" value="{$lang.button_reset}" class="button"/>
                    <input type="hidden" name="act" value="{$form_act}"/>
                    <input type="hidden" name="id" value="{$ads.ca_id}"/>
                </td>
            </tr>
        </table>
    </form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
<script language="JavaScript">
    $(".jump_type").change(function () {
        if($(this).val()=='link'){
            $("#goods_type").hide();
            $("#link_type").show();
            $("#cate_type").hide();
        }else if($(this).val()=='cate') {
            $("#goods_type").hide();
            $("#link_type").hide();
            $('#cate_type').show();
        }else if($(this).val()=='novice') {
            $("#goods_type").hide();
            $("#link_type").hide();
            $('#cate_type').hide();
        }else if($(this).val()=='goods'){
            $("#goods_type").show();
            $("#link_type").hide();
            $("#cate_type").hide();
        }

        if($(this).val()==1) {
            $("#video").hide();
            $("#image").show();
        } else if($(this).val()==2) {
            $("#image").hide();
            $("#video").show();
        }

    });
    $(function () {
        $('.combo-select').comboSelect();
    });
</script>
{include file="pagefooter.htm"}
