<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<!-- 订单搜索 -->
<div class="form-div">
  <form action="javascript:searchApply()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    {if $rank_level==3}
    <select name="account_type" >
      <option value="1" {if $account_type eq '0'}selected="selected"{/if}>10w服务商</option>
      <option value="2" {if $account_type eq '1'}selected="selected"{/if}>3w服务商</option>
    </select>
    {/if}
    会员名称<input type="text" name="keyword" placeholder="手机号/用户名/邮箱" />
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

<form method="post" action="" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>用户名</th>
      <th>{if $rank_type==1}充值总额{elseif $rank_type==2}提现总额{elseif $rank_type==3}报单总额{elseif $rank_type==4}H单购买总额{elseif $rank_type==5}H单回购总额{else}精品购买总额{/if}</th>
      {if $rank_type==1}<th>提现总额</th>{elseif $rank_type==2}<th>充值总额</th>{/if}
      <th>服务中心</th>
      <th>操作</th>
    </tr>
    {foreach from=$result item=apply}
    <tr>
      <td>{$apply.user_name|nl2br}</td>
      <td>{$apply.money|nl2br}</td>
      {if $rank_type==1}<td>{$apply.other_money|nl2br}</td>{elseif $rank_type==2}<td>{$apply.other_money|nl2br}</td>{/if}
      <td>{$apply.rank_name|nl2br}</td>
      <td>{if $apply.user_cx_rank==1}{else}<a href="integral_ranking_other_list.php?act=list&top_user_id={$apply.user_id}&rank_level={$apply.user_cx_rank}&rank_type={$rank_type}">查看</a>{/if}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td>
    </td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.url = "integral_ranking_other_list.php?act=list&top_user_id={$top_user_id}&rank_level={$rank_level}&rank_type={$rank_type}&is_ajax=1";
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  /**
   * 搜索订单
   */
  function searchApply()
  {
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
      {if $rank_level==3}
      listTable.filter['account_type'] = document.forms['searchForm'].elements['account_type'].value;
      {/if}
    listTable.filter['page'] = 1;
    listTable.loadList();
  }

  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}
