<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<!-- 订单搜索 -->
<div class="form-div">
  <form action="javascript:searchApply()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    <select name="account_type" >
      <option value="0" {if $account_type eq '0'}selected="selected"{/if}>T积分</option>
      <option value="1" {if $account_type eq '1'}selected="selected"{/if}>可用新美积分</option>
      <option value="2" {if $account_type eq '2'}selected="selected"{/if}>冻结新美积分</option>
      <option value="3" {if $account_type eq '3'}selected="selected"{/if}>总新美积分</option>
      <option value="4" {if $account_type eq '4'}selected="selected"{/if}>消费积分</option>
      <option value="5" {if $account_type eq '5'}selected="selected"{/if}>奖金池</option>
    </select>
    会员名称<input type="text" name="keyword" placeholder="手机号/用户名/邮箱" />
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

<form method="post" action="" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>用户名</th>
      <th>剩余积分</th>
    </tr>
    {foreach from=$result item=apply}
    <tr>
      <td>{$apply.user_name|nl2br}</td>
      <td>{$apply.money|nl2br}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td>
    </td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  /**
   * 搜索订单
   */
  function searchApply()
  {
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['account_type'] = document.forms['searchForm'].elements['account_type'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
  }

  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}
