<!-- $Id: account_list.htm 14928 2008-10-06 09:25:48Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<!-- edit 修改会员帐号变动明细页 2017年2月28日 14:48:20 by fzp -->
<div class="form-div">
<form  action="javascript:searchApply()"  name="searchForm">


  日期<input name="start_time"  value="{$start_time}" id="start_time" type="text" size="20" readonly="readonly" onclick="return showCalendar('start_time', '%Y-%m-%d', false, true, 'start_time');">&nbsp;

  {$lang.label_user_name}&nbsp;
  <span style="position:relative"><input type="text" name="keyword" placeholder="手机号/用户名/邮箱" /></span>

  <input type="submit" value="{$lang.button_search}" class="button" />

  </form>
</div>

<form method="post" action="" name="listForm">
<div class="list-div" id="listDiv">
{/if}
  <table cellpadding="3" cellspacing="1">

    <tr>
      <th width="20%">用户名</th>
      <th width="20%">变动积分</th>
      <th width="30%">变动原因</th>
      <th>变动时间</th>

    </tr>
    {foreach from=$account_list item=account}
    <tr>
      <td align="center">{$account.user_name}</td>
      <td align="center">{$account.money}</td>
      <td align="center">{$account.notes|escape:html}</td>
      <td align="center">{$account.change_time}</td>

    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="6">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}

  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  function searchApply()
  {
    listTable.filter['keyword'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['start_time'] = document.forms['searchForm'].elements['start_time'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
