<!-- $Id: goods_info.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
<!-- 修改 by www.68ecshop.com 百度编辑器 begin -->

{include file="pageheader_bd.htm"} {insert_scripts files="../js/utils.js,selectzone_bd.js,colorselector.js"}
<!-- 修改 by www.68ecshop.com 百度编辑器 end -->
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css"/>
<!-- 代码增加 By  www.68ecshop.com 促销商品时间精确到时分 Start -->
<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<!-- 代码增加 By  www.68ecshop.com 促销商品时间精确到时分 End -->

<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<!-- zTree Style -->
<link href="styles/zTree/zTreeStyle.css" rel="stylesheet" type="text/css"/>
{insert_scripts files='jquery.ztree.all-3.5.min.js,category_selecter.js'} {if $warning}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
    <li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;">{$warning}</li>
</ul>
{/if}

<!-- start goods form -->
<div class="tab-div">
    <!-- tab body -->
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="" method="post" name="theForm">
            <!-- 最大文件限制 -->
            <input type="hidden" name="MAX_FILE_SIZE" value="2097152"/>
            <!-- 通用信息 -->
            <table width="100%" id="general-table" align="center">
                <tr>
                    <td class="label">商品名字</td>
                    <td>
                        <input type="text" name="goods_name" value="{$goods.goods_name|escape}" size="20"/>
                        {$lang.require_field}
                    </td>
                </tr>
                <tr>
                    <td class="label">商品图片</td>
                    <td>
                        <input type="file" name="goods_img" size="35"/>
                        <input type="hidden" name="goods_img_hidden" size="35" value="{$goods.goods_img}"/>
<!--                        {if $child_cate}-->
<!--                        <a href="app_goods.php?act=show_image&img_url={$goods.goods_img}" target="_blank">-->
<!--                            <img src="images/yes.gif" border="0"/>-->
<!--                        </a>-->
<!--                        {else}-->
<!--                        <img src="images/no.gif"/>-->
<!--                        {/if}-->
                    </td>
                </tr>
                <tr>
                    <td class="label">商品库存</td>
                    <td>
                        <input type="text" name="goods_stock" value="{$goods.goods_num|escape}" size="20"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品日库存数</td>
                    <td>
                        <input type="text" name="goods_deployment_num" value="{$goods.deployment_num|escape}" size="20"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品编码</td>
                    <td>
                        <input type="text" name="goods_code_luck" placeholder="luck_national_1"  value="{$goods.goods_code_luck|escape}" size="20"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品排序编码</td>
                    <td>
                        <input type="text" name="goods_code" placeholder="0" value="{$goods.goods_code|escape}" size="20"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品抽奖权重</td>
                    <td>
                        <select class="chzn-select" name="goods_weight" id="weight">
                            <option value='4'>请选择</option>
                            {foreach from=$cate item=cate}
                            <option value="{$cate}" {if $goods.goods_weight==$cate}selected{/if}>
                                {$cate}
                            </option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否需要中奖</td>
                    <td>
                        <select class="chzn-select" name="is_prize" id="is_prize">
                            <option value='0' {if $goods.is_prize==0}selected{/if}>是</option>
                            <option value="1" {if $goods.is_prize==1}selected{/if}>否</option>
                        </select>
                    </td>
                </tr>

            </table>


            <div class="button-div">
                <!--修改代码_start By www.ecshop68.com 主要是给这两个INPUT各自增加了一个ID， id="goods_info_submit"  id="goods_info_reset" -->
                <input id="goods_info_submit" type="submit" value="{$lang.button_submit}" class="button"/>
                <input id="goods_info_reset" type="reset" value="{$lang.button_reset}" class="button"/>
                <!--修改代码_end By www.ecshop68.com-->
            </div>
            <input type="hidden" name="goods_id" value="{$goods.id}" />
            <input type="hidden" name="act" value="{$form_act}"/>
        </form>
    </div>
</div>
<!-- end goods form -->
{insert_scripts files="validator.js,tab.js"}
<script language="JavaScript">

</script>
{include file="pagefooter.htm"}
