<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/transport.org.js,../js/region.js"}
<div class="main-div">
<!-- #代码增加2014-12-23 by www.68ecshop.com  _star -->
<form method="post" action="mq_name_cert.php" name="theForm" enctype="multipart/form-data">
<!-- #代码增加2014-12-23 by www.68ecshop.com  _end -->
<table width="100%" >
  <tr>
    <td class="label">{$lang.username}:</td>
    <td>{$user.user_name}<input type="hidden" name="username" value="{$user.user_name}" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.gender}:</td>
    <td>
      {if $user.sex eq 0}保密{/if}
      {if $user.sex eq 1}男{/if}
      {if $user.sex eq 2}女{/if}
    </td>
  </tr>
  <tr>
  	<td class="label">真实姓名:</td>
    <td>{$user.real_name}</td>
  </tr>
  <tr>
  	<td class="label">身份证号:</td>
    <td>{$user.card}<input type="hidden" name="card" value="{$user.card}" /></td>
  </tr>
  <tr>
  	<td class="label">身份证正面:</td>
    <td>
    <div style="padding:10px 0px">
    {if $user.face_card neq ''}<a href="{$user.face_card}" target="_blank"><img src="{$user.face_card}" width="100" height="100" /></a>{else}暂无{/if}
    </div>
    </td>
  </tr>
  <tr>
  	<td class="label">身份证反面:</td>
    <td>
    <div style="padding:10px 0px">
    {if $user.back_card neq ''}<a href="{$user.face_card}" target="_blank"><img src="{$user.back_card}" width="100" height="100" /></a>{else}暂无{/if}
    </div>
    </td>
  </tr>
  <tr>

  </tr>

  <tr>
  	<td class="label">审核状态:</td>
    <td>
      {if $user.status eq 1 }
      已实名
      {elseif $user.status eq 0}
      未实名
      {else}
    	<select name="status" id="status" >
            <option value="0"  {if $user.status eq 1} selected="selected"{/if}>拒绝</option>
            <option value="1"  {if $user.status eq 2} selected="selected"{/if}>审核通过</option>
        </select>
      {/if}
    </td>
  </tr>

  {if $user.status eq 2 }
  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="{$lang.button_submit}" class="button" />
      <input type="reset" value="{$lang.button_reset}" class="button" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$user.user_id}" />
    </td>
  </tr>
  {/if}
</table>

</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
<script>


</script>
{include file="pagefooter.htm"}
