{include file="pageheader.htm"}
{insert_scripts files="validator.js,../js/transport.org.js,../js/region.js"}
<div class="main-div">
<form method="post" action="mq_referee.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.label_referee_name}</td>
    <td><input type="text" name="referee_name" maxlength="60" value="{$referee.referee_name}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.label_referee_phone}</td>
    <td><input type="text" name="referee_phone" maxlength="60" value="{$referee.referee_phone}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.label_referee_percent}</td>
    <td><input type="text" name="referee_percent" maxlength="60" value="{$referee.percent}" />{$lang.require_field}</td>
  </tr>
  <tr>
    <td class="label">{$lang.label_referee_desc}</td>
    <td><textarea  name="referee_desc" cols="60" rows="4"  >{$referee.referee_desc}</textarea></td>
  </tr>
</table>

<table align="center">
  <tr>
    <td colspan="2" align="center">
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$referee.referee_id}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['referee_name'].focus();

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("referee_name",  no_referee_name);
    validator.required("referee_phone",  no_referee_phone);
    validator.required("referee_percent",  no_referee_percent);
    validator.isMobile("referee_phone", error_referee_phone);
    validator.isNumber("referee_percent", error_referee_percent);
    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}