<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<!-- 订单搜索 -->
<div class="form-div">
    平台数据总额:<span style="color:red;">{$amount}</span>
      &nbsp;&nbsp;每日收入:<span style="color:red;">{$income}</span>
      &nbsp;&nbsp; 每日支出:<span style="color:red;">{$expenditure}</span>
</div>
<div class="form-div">
    <form action="platform_list.php?act=list" name="">
        <input name="thedate" value="{$thedate}" id="thedate" type="text"
               style="min-width: 20px" readonly="readonly"
               onclick="return showCalendar('thedate', '%Y-%m-%d', false, true, 'thedate');">
        <select name="status">
            <option value="1" {if $status==1}selected{/if}>收入</option>
            <option value="2" {if $status==2}selected{/if}>支出</option>
        </select>
        <input type="hidden" name="act" value="list">
        <input type="submit" value=" 搜索 " class="button">
    </form>
</div>

<form method="post" action="" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>收入/支出</th>
      <th>金额</th>
      <th>说明</th>
      <th>时间</th>
    </tr>
    {foreach from=$result item=apply}
    <tr>
      <td>{$apply.status|nl2br}</td>
      <td>{$apply.amount|nl2br}</td>
      <td>{$apply.notes|nl2br}</td>
      <td>{$apply.create_at}</td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td>
    </td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  /**
   * 搜索订单
   */


  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}
