<!-- $Id: user_area_stats.htm 2015-11-05 08:39:21Z langlibin $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
{insert_scripts files="../js/region.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div style="width: 100%; clear: both;height: 40px">
    <a style="float: right;display:block;height: 30px;width: 120px; background:#24a0d6;border: 1px solid #ccc; color: #fff; line-height: 30px;text-align: center " href="javascript:history.go(-1);">返回</a>

</div>
<div class="form-div">
    <form action="javascript:searchAreaStats()" name="searchForm">
        {$lang.label_user_name}&nbsp;
        <span style="position:relative"><input type="text" name="keyword" placeholder="手机号/用户名/邮箱" /></span>
        <input type="hidden" name="user_id" value="{$user_id}"  />
        <input type="hidden" name="layer" value="{$layer}"  />
        <input type="submit" value="{$lang.button_search}" class="button" />
    </form>
</div>
<form method="post" action="" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
        {/if}

        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>会员名称</th>
                <th>直推人数</th>
                <th>间推人数</th>
                <th>团队人数</th>
            </tr>

            {foreach from=$result_list item=item}
            <tr>
                <td align="center">{$item.user_name}</td>
                <td align="center" >
                    <a  style="text-decoration:underline;" href="push_cnt1_list.php?act=list&userid={$item.user_id}&type=lone" title="查看直推人数">
                        {$item.uco_0}
                    </a>
                </td>
                <td align="center">
                    <a style="text-decoration:underline;"  href="push_cnt1_list.php?act=list&userid={$item.user_id}&type=ltwo" title="查看间推人数">
                        {$item.uco_1}
                    </a>
                </td>
                <td align="center">{$item.uco_2}</td>
            </tr>
            {foreachelse}
            <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
            {/foreach}
        </table>

        <table cellpadding="4" cellspacing="0">
            <tr>
                <td align="right">{include file="page.htm"}</td>
            </tr>
        </table>

        {if $full_page}
    </div>
</form>

<script type="text/javascript" language="JavaScript">
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {foreach from=$filter item=item key=key}
     listTable.filter.{$key} = '{$item}';
    {/foreach}
    {literal}

    region.isAdmin = true;

    function searchAreaStats()
    {
        listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
        listTable.filter['user_id'] = Utils.trim(document.forms['searchForm'].elements['user_id'].value);
        listTable.filter['layer'] = Utils.trim(document.forms['searchForm'].elements['layer'].value);
        listTable.filter.page = 1;
        listTable.loadList();
    }
    {/literal}
</script>
{include file="pagefooter.htm"}
{/if}