{if $full_page}
<!-- $Id: users_list.htm 17053 2010-03-15 06:50:26Z sxc_shop $ -->
{include file="pageheader.htm"} {insert_scripts files="../js/utils.js,listtable.js,placeholder.js"}
<div style="text-align: right;"><a href="users.php?act=member_excel"><input class="button" type="submit" value=" 用户导出 "></a></div>

<div class="form-div">
    <form action="users.php?act=list" name="">

        <select name="rank">
				<option value="0">{$lang.all_option}</option>
				<option value="1" {if $filter.rank==1}selected{/if}>普通</option>
                <option value="2" {if $filter.rank==2}selected{/if}>初级</option>
            	<option value="3" {if $filter.rank==3}selected{/if}>中级</option>
				<option value="4" {if $filter.rank==4}selected{/if}>高级</option>
			</select>
       {$lang.label_user_name}&nbsp;
			<span style="position:relative"><input type="text" name="keywords" value="{$filter.keywords}" placeholder="手机号/用户名/邮箱" /></span>
		    真实姓名&nbsp;
			<span style="position:relative"><input type="text" name="real_name" value="{$filter.real_name}" placeholder="真实姓名" /></span>
        <input type="hidden" name="act" value="list">
        <input type="submit" value=" 搜索 " class="button">
    </form>
</div>
<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()" >
	<!-- start users list -->
	<div class="list-div" id="listDiv">
		{/if}
		<!--用户列表部分-->
		<table cellpadding="3" cellspacing="1" >

			<tr>
				<th>
					<input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox">
					<a href="javascript:listTable.sort('user_id'); ">{$lang.record_id}</a>
					{$sort_user_id}
				</th>
				<th>
					<a href="javascript:listTable.sort('user_name'); ">会员账号</a>
					{$sort_user_name}
				</th>
                <th>会员真实姓名</th>
				<th><a href="javascript:listTable.sort('balance'); ">优惠券</a></th>

				<th><a href="javascript:listTable.sort('release_balance'); ">待释放优惠券</a></th>

				<th>邀请人姓名</th>
				<th>邀请人手机号</th>
				<th>
					<a href="javascript:listTable.sort('reg_time'); ">{$lang.reg_date}</a>
					{$sort_reg_time}
				</th>
				<!-- #代码增加2014-12-23 by www.68ecshop.com  _star -->
				<th>实名认证</th>


				<th>{$lang.handler}</th>
			<tr>{foreach from=$user_list item=user}
			<tr align="center">
				<td>
					<input type="checkbox" name="checkboxes[]" value="{$user.user_id}" notice="{if $user.user_money ne 0}1{else}0{/if}" />
					{$user.user_id}
				</td>

				<td class="first-cell">
					<span style="margin-bottom: 2px; line-height: 14px; display: block;">{$user.user_name|escape}</span>
					{if $user.rank_name != null}
					<span style="margin-left: 5px; border: 1px #FBB24E solid; background-color: #FBB24E; padding: 1px 2px 0px 2px; color: white; display: inline; border-radius: 2px;"> {$user.rank_name} </span>
					{/if}
					<br />
					{if $user.user_status != null}
					&nbsp;<span style="border: 1px #6DD26A solid; background-color: #6DD26A; padding: 1px 2px 0px 2px; color: white; display: inline; border-radius: 2px;">
						{if $user.user_status == '1'}
						正常
						{elseif $user.user_status == '2'}
						禁用
						{else}
						{/if}
					</span>
					{/if}
				</td>
			    <td>{$user.real_name}</td>
				<td>{$user.balance}</td>
				<td>{$user.release_balance}</td>
				<td>{$user.invited_username}</td>
				<td>{$user.invite_code}</td>
				<td align="center">{$user.reg_time}</td>
				<!-- #代码增加2014-12-23 by www.68ecshop.com  _star -->
				<td>{if $user.status eq 1}审核通过{elseif $user.status eq 2}待审核{else}未实名{/if}</td>
			<!--<td align="center">{if $user.locked eq 1}是{else}否{/if} </td>-->

				<!-- #代码增加2014-12-23 by www.68ecshop.com  _end -->
				<td align="center">
					<a href="users.php?act=edit&id={$user.user_id}" title="{$lang.edit}">
						<img src="images/icon_edit.gif" border="0" height="16" width="16" />
					</a>
					<a href="javascript:confirm_redirect('{if $user.user_money ne 0}{$lang.still_accounts}{/if}{$lang.forbiden_confirm}', 'users.php?act=forbiden&id={$user.user_id}')"
					{if $user.user_status == '1'}
					title="禁用"
					{elseif $user.user_status == '2'}
					title="启用"
					{else}
					{/if}
					>

					{if $user.user_status == '1'}
					<a href="javascript:confirm_redirect('{if $user.user_money ne 0}{$lang.still_accounts}{/if}{$lang.forbiden_confirm}', 'users.php?act=forbiden&id={$user.user_id}')"
					title="禁用">
					{elseif $user.user_status == '2'}
					<a href="javascript:confirm_redirect('{if $user.user_money ne 0}{$lang.still_accounts}{/if}{$lang.recover_confirm}', 'users.php?act=recover&id={$user.user_id}')"
					title="启用">
					{else}
					{/if}

						<img src="images/jy.gif" border="0" height="16" width="16" />
					</a>
					<a href="users.php?act=address_list&id={$user.user_id}" title="{$lang.address_list}">
						<img src="images/book_open.gif" border="0" height="16" width="16" />
					</a>

					<a href="mq_integration_details_new.php?act=list&user_id={$user.user_id}" title="{$lang.view_deposit}">
						<img src="images/icon_account.gif" border="0" height="16" width="16" />
					</a>

					<a href="users.php?act=user_restriction&id={$user.user_id}" title="会员限制">
						<img src="images/icon_lock.gif" border="0" height="16" width="16" />
					</a>
					<a href="javascript:confirm_redirect('确认重置密码吗?重置后密码默认为123456!', 'users.php?act=rest_password&id={$user.user_id}')" title="重置密码" >
						<img src="images/icon_rest_password.gif" border="0" height="16" width="16" />
					</a>
				</td>
			</tr>
			{foreachelse}
			<tr>
				<td class="no-records" colspan="16">{$lang.no_records}</td>
			</tr>
			{/foreach}
			<tr>
				<!--<td colspan="3">-->
					<!--<input type="hidden" name="act" value="batch_remove" />-->
					<!--<input type="submit" id="btnSubmit" value="{$lang.button_remove}" disabled="true" class="button" />-->
				<!--</td>-->
				<td align="right" nowrap="true" colspan="13">{include file="page.htm"}</td>
			</tr>
		</table>
		{if $full_page}
	</div>
	<!-- end users list -->
</form>
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}


/**
 * 搜索用户
 */
function searchUser()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['real_name'] = Utils.trim(document.forms['searchForm'].elements['real_name'].value);
    listTable.filter['rank'] = document.forms['searchForm'].elements['user_rank'].value;


    listTable.filter['page'] = 1;
    listTable.loadList();
}

function confirm_bath()
{
  userItems = document.getElementsByName('checkboxes[]');

  cfm = '{$lang.list_remove_confirm}';

  for (i=0; userItems[i]; i++)
  {
    if (userItems[i].checked && userItems[i].notice == 1)
    {
      cfm = '{$lang.list_still_accounts}' + '{$lang.list_remove_confirm}';
      break;
    }
  }

  return confirm(cfm);
}


//-->
</script>
{/literal} {include file="pagefooter.htm"} {/if}
