<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/transport.org.js,../js/region.js"}
<div class="main-div">
<!-- #代码增加2014-12-23 by www.68ecshop.com  _star -->
<form method="post" action="user_translation.php" name="theForm" onsubmit="return validate()" enctype="multipart/form-data">
<!-- #代码增加2014-12-23 by www.68ecshop.com  _end -->
<table width="100%" >
    <tr>
        <td class="label" style="font-size: 16px; color: red">温馨提示:</td>
        <td><span style="font-size: 16px; color: red">该功能只能平移给自己团队以外的账号！</span></td>
    </tr>
  <tr>
    <td class="label">移出账号:</td>
    <td><input type="text" name="f_username" value="" />{$lang.require_field}</td>
  </tr>
  <tr>
  	<td class="label">接管账号:</td>
    <td><input type="text" name="t_username"  value=""/>{$lang.require_field}</td>
  </tr>
  <tr>
  	<td class="label">管理员密码:</td>
    <td><input type="password" name="admin_password" value="" />{$lang.require_field}</td>
  </tr>
  <tr>
        <td class="label">平移原因:</td>
        <td><textarea type="text"   name="reason"  >{$user.refusal_reason}</textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" value="{$lang.button_submit}" class="button" />
      <input type="reset" value="{$lang.button_reset}" class="button" />
      <input type="hidden" name="act" value="{$form_action}" />
    </td>
  </tr>
</table>

</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
region.isAdmin = true;
document.forms['theForm'].elements['username'].focus();
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}

/**
 * 检查表单输入的数据
 */

function validate()
{
    if(confirm("平移推荐等相关利益归接管账号所有，您真的要平移吗？"))

    {
        validator = new Validator("theForm");
        validator.required("f_username",  '平移账号不能为空');
        validator.required("t_username",  '接管账号不能为空');
        validator.required("admin_password", '密码不能为空');
        return validator.passed();

    }else{
        return false;
    }

}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
