<!-- $Id: user_info.htm 16854 2009-12-07 06:20:09Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/transport.org.js,../js/region.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
<!-- #代码增加2014-12-23 by www.68ecshop.com  _star -->
<form method="post" action="users.php" name="theForm" onsubmit="return validate()" enctype="multipart/form-data">
<!-- #代码增加2014-12-23 by www.68ecshop.com  _end -->
<table width="100%" >
  <tr>
    <td class="label">{$lang.username}:</td>
    <td>{$user.user_name}</td>
  </tr>
    <!--<tr id="cash_limited"  style="{if $user.cash_limited eq 1} {else} display: none {/if}">-->
        <!--<td class="label">新美转账额度:</td>-->
        <!--<td><input type="text" id="daily_cash_transfer_sum_limit" name="daily_cash_transfer_sum_limit" maxlength="60" size="40" value="{$user.daily_cash_transfer_sum_limit}" /></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="label">是否限制提现:</td>-->
        <!--<td>-->
            <!--<input name="cash_take_limited" onclick=" $('#cash_take_limited').css('display','');" value="1" {if $user.cash_take_limited eq 1 } checked="checked" {/if} type="radio">是-->
            <!--<input name="cash_take_limited" onclick=" $('#cash_take_limited').css('display','none');" value="0" {if $user.cash_take_limited eq 0 } checked="checked" {/if} type="radio">否-->
        <!--</td>-->
    <!--</tr>-->

    <tr>
        <td class="label">每日待释放优惠券释放比例(%):</td>
        <td><input type="text"  name="day_release_ratio" maxlength="60" size="40" value="{$user.day_release_ratio}" /></td>
    </tr>
     <tr>
        <td class="label">每日最大出售优惠券额度:</td>
        <td><input type="text"  name="daily_deal_sell_max_money" maxlength="60" size="40" value="{$user.daily_deal_sell_max_money}" /></td>
    </tr>
    <tr>
        <td class="label">每日最大购买优惠券额度:</td>
        <td><input type="text"  name="daily_deal_buy_max_money" maxlength="60" size="40" value="{$user.daily_deal_buy_max_money}" /></td>
    </tr>

    <!-- 20180625 1350 -->
    <tr>
        <td class="label">
            <input type="submit" value="个人设置" class="button" onclick="changetype('personal')"/>
            <input type="hidden" name="type" value="personal">
            <input type="hidden" name="act" value="{$form_action}" />
            <input type="hidden" name="id" value="{$user.user_id}" />
        </td>
    </tr>

    <!--&lt;!&ndash; 20180420 1357 V new_status  &ndash;&gt;-->
        <!--<tr>-->
            <!--<td class="label" colspan="2" style="text-align: center;background: #fa841e;color: #ffffff;font-size: 18px;">-->
            <!--新的限制规则：对服务商限制，则限制整个服务商团队</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="label">限制精品商城</td>-->
            <!--<td>-->
                <!--<input name="shop" value="1" {if $new_status[1] eq 1 } checked="checked" {/if} type="radio">是-->
                <!--<input name="shop" value="0" {if $new_status[1] eq 0 } checked="checked" {/if} type="radio">否-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="label">限制 H 单购买</td>-->
            <!--<td>-->
                <!--<input name="horder" value="1" {if $new_status[2] eq 1 } checked="checked" {/if} type="radio">是-->
                <!--<input name="horder" value="0" {if $new_status[2] eq 0 } checked="checked" {/if} type="radio">否-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="label">限制新美转账</td>-->
            <!--<td>-->
                <!--<input name="xmp" value="1" {if $new_status[3] eq 1 } checked="checked" {/if} type="radio">是-->
                <!--<input name="xmp" value="0" {if $new_status[3] eq 0 } checked="checked" {/if} type="radio">否-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td class="label">限制消费转账</td>-->
            <!--<td>-->
                <!--<input name="consume" value="1" {if $new_status[4] eq 1 } checked="checked" {/if} type="radio">是-->
                <!--<input name="consume" value="0" {if $new_status[4] eq 0 } checked="checked" {/if} type="radio">否-->
            <!--</td>-->
        <!--</tr>-->

      <!--<tr>-->
        <!--<td colspan="2" align="center">-->
            <!--{if $is_rank == 1}-->
                <!--<input type="button" value="更多限制" class="button" style="background: #f90d4e;" onclick="location='users.php?act=group_limit&id={$user.user_id}'" />-->
            <!--{/if}-->
            <!--<input type="submit" value="团队设置" class="button" onclick="changetype('group')" />-->
            <!--<input type="reset" value="{$lang.button_reset}" class="button" />-->
            <!--<input type="hidden" name="type" value="group">-->
            <!--<input type="hidden" name="act" value="{$form_action}" />-->
            <!--<input type="hidden" name="id" value="{$user.user_id}" />    </td>-->
      <!--</tr>-->
</table>

</form>

    
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
region.isAdmin = true;
if (document.forms['theForm'].elements['act'].value == "insert")
{
  document.forms['theForm'].elements['username'].focus();
}
else
{
  document.forms['theForm'].elements['email'].focus();
}

// form 表单中有两个 type 来确定修改了啥，用这个在提交的时候改变值
function changetype(type) {

    $("input[name='type']").attr("value", type);
}
/**
 * 检查表单输入的数据
 */

function validate()
{
    validator = new Validator("theForm");

    return validator.passed();
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
