{include file="pageheader.htm"}
{insert_scripts files="validator.js"}
<div class="main-div">
<form method="post" action="mq_transfer_audit.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">转账人姓名：</td>
    <td>{$apply.from_name}</td>
  </tr>
  <tr>
    <td class="label">转账积分：</td>
    <td>{$apply.amount}</td>
  </tr>
  <tr>
    <td class="label">收款人姓名：</td>
    <td>{$apply.to_name}</td>
  </tr>
    <tr>
        <td class="label">转账类型：</td>
        <td>{if $apply.type eq 0} 新美积分 {elseif $apply.type eq 1}消费积分{else}T积分{/if}</td>
    </tr>
    <tr>
        <td class="label">审核：</td>
        {if $apply.type eq 0}
          {if $money.unlimit < ($apply.amount + $apply.trfee)}
            <td><input type="radio" name="audit" value="2" checked />拒绝 &nbsp &nbsp  &nbsp &nbsp  <span style="color:red "> 账户优惠券不足</span></td>
          {else}
            <td><input type="radio" name="audit" value="2" />拒绝 <input type="radio" name="audit" value="1" checked />同意</td>
          {/if}
        {/if}

        {if $apply.type eq 1}
          {if $money.shopp < ($apply.amount + $apply.trfee)}
            <td><input type="radio" name="audit" value="2" checked />拒绝 &nbsp &nbsp  &nbsp &nbsp  <span style="color:red "> 账户优惠券不足</span></td>
          {else}
            <td><input type="radio" name="audit" value="2" />拒绝 <input type="radio" name="audit" value="1" checked />同意</td>
          {/if}
        {/if}
      {if $apply.type eq 2}
      {if $money.tunlimit < ($apply.amount + $apply.trfee)}
      <td><input type="radio" name="audit" value="2" checked />拒绝 &nbsp &nbsp  &nbsp &nbsp  <span style="color:red "> 账户优惠券不足</span></td>
      {else}
      <td><input type="radio" name="audit" value="2" />拒绝 <input type="radio" name="audit" value="1" checked />同意</td>
      {/if}
      {/if}

    </tr>
  <tr>
    <td class="label">处理结果：</td>
    <td><textarea  name="app_result" cols="60" rows="4"  >{$apply.app_result}</textarea></td>
  </tr>
</table>

<table align="center">
  <tr>
    <td colspan="2" align="center">
      <input type="submit" class="button" id="btnOK" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$apply.trid}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['referee_name'].focus();

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    //让按钮失效，方式双击
    $("#btnOK").attr("disabled", true);
    window.setTimeout(function(){
        $("#btnOK").attr("disabled", false);
    },1000);

    validator = new Validator("theForm");
    validator.required("audit",  no_audit);
    var radio = document.getElementsByName("audit");
    for (var i=0; i<radio.length; i++) {
        if (radio[i].checked) {
            if(radio[i].value == -1){
                validator.required("refused_reason",  no_refused_reason);
            }
        }
    }

    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
