{include file="pageheader.htm"}
{insert_scripts files="validator.js"}
<div class="main-div">
	<form method="post" action="mq_recharge_audit.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
		<table cellspacing="1" cellpadding="3" width="100%" style="margin-left: 200px">
			<tr>
				<td class="label">用户名称：</td>
				<td>{$user_name}</td>
			</tr>
			<tr>
				<td class="label">3w服务中心：</td>
				<td>{$result.cx_rank_3w}人</td>
			</tr>
			<tr>
				<td class="label">10w服务中心：</td>
				<td>{$result.cx_rank_10w}人</td>
			</tr>
			<tr>
				<td class="label">30w服务中心：</td>
				<td>{$result.cx_rank_30w}人</td>
			</tr>
			<tr>
				<td class="label">报单总金额：</td>
				<td>{$result.recharge_count_money}元</td>
			</tr>
			<tr>
				<td class="label">报单总次数：</td>
				<td>{$result.recharge_count_num}次</td>
			</tr>
			<tr>
				<td class="label">H单待回购金额：</td>
				<td>{$result.hbuy_back_money}元</td>
			</tr>
			<tr>
				<td class="label">H单回购总次数：</td>
				<td>{$result.hbuy_back_num}次</td>
			</tr>
			<tr>
				<td class="label">H单直购总金额：</td>
				<td>{$result.hz_buy_back_money}元</td>
			</tr>
			<tr>
				<td class="label">H单直购订单数：</td>
				<td>{$result.hz_buy_back_num}次</td>
			</tr>
			<tr>
				<td class="label">精品商城订单数：</td>
				<td>{$result.mid_order_num}次</td>
			</tr>
			<tr>
				<td class="label">精品商城订单金额：</td>
				<td>{$result.mid_order_money}元</td>
			</tr>


		</table>
	</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{include file="pagefooter.htm"}