<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- 订单搜索 -->
<div class="form-div">
  <form action="javascript:searchApply()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    审核状态
    <select name="status">
      <option value="">{$lang.select_please}</option>
      <option value="0" selected>待审核</option>
      <option value="1">已审核</option>
      <option value="2">已拒绝</option>
    </select>
    会员名称<input name="user_name" type="text" id="user_name" placeholder="手机号/用户名/邮箱" size="15">
    <input type="submit" value="{$lang.button_search}"  class="button" />
  </form>
</div>

<form method="post" action="" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th>
          <a href="javascript:listTable.sort('id'); ">{$lang.record_id}</a>{$sort_id} </th>
      <th>充值用户名{$sort_user_name}</th>
      <th><a href="javascript:listTable.sort('cash_credit'); ">充值新美积分</a>{$sort_amount}</th>
      <th><a href="javascript:listTable.sort('consume_credit'); ">充值消费积分</a>{$sort_amount}</th>
      <th>接受账户{$sort_money}</th>
      <th><a href="javascript:listTable.sort('cx_rank'); ">充值类型</a>{$sort_account_type}</th>
      <th>所在地区</th>
      <th><a href="javascript:listTable.sort('create_at'); ">申请日</a>{$sort_create_at}</th>
      <th><a href="javascript:listTable.sort('status'); ">审核状态</a>{$sort_status}</th>
      <th><a href="javascript:listTable.sort('update_at'); ">审核时间</a>{$sort_update_at}</th>
      <th>{$lang.handler}</th>
    </tr>
    {foreach from=$transfer_apply_list item=apply}
    <tr>
      <th>
        {$apply.id}</th>
      <th>{$apply.user_name|nl2br}</th>
      <th>{$apply.cash_credit|nl2br}元</th>
      <th>{$apply.consume_credit|nl2br}元</th>
      <th>{$apply.to_user_name|nl2br}</th>
      <th>{$apply.cx_rank_text|nl2br}</th>
      <th>{$apply.country_name}{$apply.province_name}{$apply.city_name}{$apply.district_name}{$apply.address}</th>
      <th>{$apply.create_at_format}</th>
      <th>{if $apply.status eq 2}已拒绝({$apply.app_result}){elseif $apply.status eq 1}已审核{else}待审核{/if}</th>
      <th>{$apply.update_at_format}</th>
      <th align="center">
        {if $apply.status eq 0}
        <a href="mq_wechat_business_audit.php?act=apply_audit&id={$apply.id}" title="审核">审核</a>
        {/if}
    </tr>
    {foreachelse}
    <tr><th class="no-records" colspan="11">{$lang.no_records}</th></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <th>
    </th>
    <th align="right" nowrap="true">
    {include file="page.htm"}
    </th>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  /**
   * 搜索订单
   */
  function searchApply()
  {
    listTable.filter['user_name'] = Utils.trim(document.forms['searchForm'].elements['user_name'].value);
    listTable.filter['status'] = document.forms['searchForm'].elements['status'].value;
    listTable.filter['page'] = 1;
    listTable.loadList();
  }

  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}