<!-- 20180510 1428 V -->
{if $full_page}

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<div class="form-div">

    <form action="javascript:getlist()" name="listform">

        开始时间：
        <input type="text" name="start_date" maxlength="60" size="30"  id="start_time_id" value="{if isset($start_date)}{$start_date}{else}{$time}{/if}" placeholder="2018-05-08"
        onclick="return showCalendar('start_time_id', '%Y-%m-%d','24', false, 'start_time_id');"/>

        <input type="submit" id="querys"  value="查询" class="button" />
        <input type="hidden" name="act"   value="query"/>

    </form>
   <div><span>报单总数:</span><span style="color:red;margin-left: 5px;">{$total}</span></div>
</div>

{/if}

<div class="list-div" id="listDiv">
<span>今日报单总数:</span><span style="color:red;margin-left: 5px;">{$day_num}</span>
<span>今日报单金额:</span><span style="color:red;margin-left: 5px;">{$day_money}</span>
    <table cellpadding="3" cellspacing="1" style="text-align: center;">
        <tr>
            <th>ID</th>
            <th>报单用户</th>
            <th>报单总额</th>
            <th>现金</th>
            <th>优惠券</th>
            <th>报单时间</th>
            <th>更新时间</th>
        </tr>
        {foreach from=$recharge_info item=item}
        <tr>
            <td>{$item.co_id}</td>
            <td>{$item.from_user}</td>
            <td>{$item.customs_money}</td>
            <td>{$item.cash_money}</td>
            <td>{$item.balance_money}</td>
            <td>{$item.create_at}</td>
            <td>{$item.update_at}</td>
        </tr>
        {foreachelse}
        <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
        {/foreach}
    </table>
    <table cellpadding="4" cellspacing="0">
        <tr>
            <td align="right">{include file="page.htm"}</td>
        </tr>
    </table>

</div>

{if $full_page}

<script type="text/javascript" language="javascript">

  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}

    //
    function getlist() {

        if (check() == false) { return; }

        listTable.filter['start_date'] = Utils.trim(document.forms['listform'].elements['start_date'].value);
        listTable.filter['page'] = 1;
        listTable.loadList();
    }

    function check() {

        var start_date = $("#start_time_id").val();


        if (!start_date) {

            alert("请选择时间");
            return false;
        }

        var time_arr = new Array();

        time_arr = [start_date];

        return time_arr;
    }



  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
