<!-- $Id: shop_config.htm 16865 2009-12-10 06:05:32Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/region.js"}
<script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
<style>
    .score {
        padding: 40px;
    }

    .score p {
        position: relative;
        margin: 20px;
        font-size: 16px;

    }

    .score p input {
        position: absolute;
        height: 24px;
        left: 260px;
    }

    .score p select {
        position: absolute;
        height: 28px;
        left: 260px;
    }

    .radio_style {
        position: relative !important;
        left: 120px !important;
        height: 28px !important;
        margin-top: 1px !important;
    }

    .radio_style2 {
        position: relative !important;
        left: 8px !important;
        height: 28px !important;
        margin-top: 1px !important;
    }

    .yes_style {
        position: relative !important;
        left: 120px !important;
        height: 28px !important;
    }

    .yes_style2 {
        position: relative !important;
        left: 8px !important;
        height: 28px !important;
    }

    #bg {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.7;
        opacity: .70;
        filter: alpha(opacity=70);
    }

    #show {
        display: none;
        position: absolute;
        top: 25%;
        left: 22%;
        width: 53%;
        height: 49%;
        padding: 8px;
        border: 8px solid #E8E9F7;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }

</style>
<div class="tab-div">
    <!-- tab bar -->
    <div>
        <span class="tab-front" onclick="update(this)" data-name="customs">报单配置</span>
        <span class="tab-front" onclick="update(this)" data-name="team">团队奖配置</span>
        <span class="tab-front" onclick="update(this)" data-name="deal">交易大厅配置</span>
        <span class="tab-front" onclick="update(this)" data-name="customs_scope">报单范围配置</span>
        <span class="tab-front" onclick="update(this)" data-name="customs_sign">签到配置</span>
        <span class="tab-front" onclick="update(this)" data-name="customs_luck">抽奖配置</span>
<!--        <span class="tab-front" onclick="update(this)" data-name="transfer">转账配置</span>-->
    </div>
    <!-- tab body -->
    <form id="customs">
        <div class="score customs" style="">
            <p><span>报单金额下限：</span><input type="text" name="customs_min" placeholder="200" value="{$list.customs_min}">
            </p>
            <p><span> 报单金额上限：</span><input type="text" name="customs_max" placeholder="10000"
                                           value="{$list.customs_max}"></p>
            <p><span> 现金 / 优惠券：</span><input type="text" name="cash_balance" placeholder="1:1"
                                             value="{$list.cash_balance}"></p>
            <p><span>赠送比例：</span><input type="text" name="give_ratio" placeholder="1:2" value="{$list.give_ratio}"></p>
            <p><span> 每天待释放优惠券比例：</span><input type="text" name="day_release_ratio" placeholder="1"
                                               value="{$list.day_release_ratio}">%</p>
            <p><span>报单最大待释放优惠券：</span><input type="text" name="release_max" placeholder="20000"
                                              value="{$list.release_max}"></p>
            <p><span>报单直推奖励百分比：</span><input type="text" name="direct_ratio" placeholder="20"
                                             value="{$list.direct_ratio}">%</p>
            <p><span>报单上级奖励百分比：</span><input type="text" name="superior_ratio" placeholder="20000"
                                             value="{$list.superior_ratio}">%</p>
            <p><span>报单直推考核合格会员天数：</span><input type="text" name="direct_assess_day" placeholder="5"
                                                value="{$list.direct_assess_day}"></p>
            <p><span>报单直推一个月考核合格会员人数：</span><input type="text" name="direct_assess_num" placeholder="5"
                                                   value="{$list.direct_assess_num}"></p>
            <!--         <p><span>平台最大购买报单赠优惠券商品个数：</span><input type="text" name="customs_goods_max_num" placeholder="5" value="{$list.customs_goods_max_num}" ></p>
             --> <p><span>每人购买新人专享商品总金额上限：</span><input type="text" name="customs_goods_max_money" placeholder="5"
                                                        value="{$list.customs_goods_max_money}"></p>
            <p><input type="button" class="button" name="" value="设置" onclick="submitData(this)" data-name="customs">
            </p>

        </div>
    </form>
    <form id="team">
        <div class="score team" style="display: none">
            <p><span>初级业绩额度：</span><input type="text" name="primary_performance_limit" placeholder="25"
                                          value="{$list.primary_performance_limit}">万</p>
            <p><span>初级直推人数: </span><input type="text" name="primary_direct_num" placeholder="10"
                                           value="{$list.primary_direct_num}"></p>
            <p><span>初级报单团队奖比例：</span><input type="text" name="primary_team_ratio" placeholder="2"
                                             value="{$list.primary_team_ratio}">%</p>
            <p><span> 同级团队奖比例：</span><input type="text" name="equative_team_ratio" placeholder="10"
                                            value="{$list.equative_team_ratio}">%</p>
            <p><span>中级团队奖比例：</span><input type="text" name="middle_team_ratio" placeholder="4"
                                           value="{$list.middle_team_ratio}">%</p>
            <p><span>高级团队奖比例：</span><input type="text" name="high_team_ratio" placeholder="6"
                                           value="{$list.high_team_ratio}">%</p>
            <p><input type="button" class="button setting" onclick="submitData(this)" data-name="team" value="设置"></p>

        </div>
    </form>
    <form id="deal">

        <div class="score deal" style="display: none">
            <p><span>交易大厅节假日购买：</span>
            <div style="position:absolute;top:150px; left: 350px">
                <label><input name="holidays" type="radio" value="1" {if $list.holidays== 1} checked="checked" {/if}/>是
                </label>
                <label><input name="holidays" type="radio" value="0" {if $list.holidays== 0} checked="checked" {/if}/>否
                </label>
            </div>
            </p>
            <p><span>交易大厅挂卖时间：</span><input type="text" name="deal_open_close_time" placeholder="9:00-17:00"
                                            value="{$list.deal_open_close_time}">
            </p>
            <p><span>每日最大出售优惠券：</span><input type="text" name="daily_deal_sell_max_money" placeholder="9:00-17:00"
                                             value="{$list.daily_deal_sell_max_money}">
            </p>
            <p><span>每日最大购买优惠券：</span><input type="text" name="daily_deal_buy_max_money" placeholder="9:00-17:00"
                                             value="{$list.daily_deal_buy_max_money}">
            </p>
            <p><span>总手续费：</span><input type="text" name="total_service_charge" placeholder="15"
                                        value="{$list.total_service_charge}">%
            </p>
            <p><span>平台手续费：</span><input type="text" name="platform_service_charge" placeholder="5"
                                         value="{$list.platform_service_charge}">%
            </p>
            <p><span>卖家手续费：</span><input type="text" name="seller_service_charge" placeholder="10"
                                         value="{$list.seller_service_charge}">%
            </p>
            <p><input type="button" class="button setting" onclick="submitData(this)" data-name="deal" value="设置"></p>

        </div>
    </form>

    <form id="customs_scope">
        <div class="score customs_scope" style="display: none">

            <tr>
                <td><span>人数：</span><input type="text" name="num1" placeholder="0" value="{$list1.release_max1_num}">
                </td>
                <td><span>金额：</span><input type="text" name="money1" placeholder="0.00"
                                           value="{$list1.release_max1_money}"></td>
                <br>

                <td><span>人数：</span><input type="text" name="num2" placeholder="0" value="{$list1.release_max2_num}">
                </td>
                <td><span>金额：</span><input type="text" name="money2" placeholder="0.00"
                                           value="{$list1.release_max2_money}"></td>
                <br>

                <td><span>人数：</span><input type="text" name="num3" placeholder="0" value="{$list1.release_max3_num}">
                </td>
                <td><span>金额：</span><input type="text" name="money3" placeholder="0.00"
                                           value="{$list1.release_max3_money}"></td>
                <br>

                <td><span>人数：</span><input type="text" name="num4" placeholder="0" value="{$list1.release_max4_num}">
                </td>
                <td><span>金额：</span><input type="text" name="money4" placeholder="0.00"
                                           value="{$list1.release_max4_money}"></td>
            </tr>

            <p><input type="button" class="button setting" onclick="submitData(this)" data-name="customs_scope"
                      value="设置"></p>

        </div>
    </form>

    <form id="customs_sign">
        <div class="score customs_sign" style="display: none">
            {foreach from=$signList key=key item=sign}
            <p><span>{$sign.notes}：</span><input type="text" name="{$sign.code}" placeholder="200"
                                                 value="{$sign.value}"></p>
            {/foreach}
            {foreach from=$signListSort key=key item=sign}
            <p><span>{$sign.notes}：</span><input type="text" name="{$sign.code}" placeholder="200"
                                                 value="{$sign.value}"></p>
            {/foreach}

            <div style="float: left;"><input type="button" class="button" name="" value="新增设置" onclick="showdiv(this)"
                                             data-name="customs_sign1"></div>
            <p>
                <input type="button" class="button" name="" value="设置" onclick="submitData(this)"
                       data-name="customs_sign">
            </p>
        </div>
    </form>
    <form id="customs_luck">
        <div class="score customs_luck" style="display: none">
            {foreach from=$luckList key=key item=luck}
            <p>
                <span>
                    {$luck.notes}：
                </span>
                <input type="text" name="{$luck.code}" placeholder="200" value="{$luck.value}">
            </p>
            {/foreach}
            <p>
                <input type="button" class="button" name="" value="设置" onclick="submitData(this)"
                       data-name="customs_luck">
            </p>
        </div>
    </form>

<!--    <form id="transfer">-->
<!--        <div class="score transfer" style="display: none">-->

<!--            <p>-->
<!--                <span>转账手续费百分比：</span>-->
<!--                <input type="text" name="transfer" placeholder="5" value="{$list.xm_transfer_rate_cash_fee}">-->
<!--            </p>-->

<!--            <p>-->
<!--                <input type="button" class="button" name="" value="设置" onclick="submitData(this)"-->
<!--                       data-name="transfer">-->
<!--            </p>-->

<!--        </div>-->
<!--    </form>-->

</div>
<div id="bg" onclick="hidediv();"></div>
<div id="show">
    <form id="customs_sign_insert">
        <div class="score customs_sign" style="display: none">
            <p>
                <span>
                    档位名称：
                </span>
                <input type="text" name="sign_name" placeholder="第n档位" value="">
            </p>
            <p>
                <span>
                    档位编码：
                </span>
                <input type="text" name="sign_code" placeholder="sign_n" value="">
            </p>
            <p>
                <span>
                    提升档位所需金额：
                </span>
                <input type="text" name="sign_money_up" placeholder="2000" value="">
            </p>
            <p>
                <span>
                    累计签到金额(降档)：
                </span>
                <input type="text" name="sign_money_down" placeholder="1000" value="">
            </p>
            <p>
                <span>
                    最低价格区间：
                </span>
                <input type="text" name="sign_section_min" placeholder="0.1" value="">%
            </p>
            <p>
                <span>
                    最高价格区间：
                </span>
                <input type="text" name="sign_section_max" placeholder="0.9" value="">%
            </p>
            <p>
                <input type="button" class="button" name="" value="保存" onclick="submitData(this)"
                       data-name="customs_sign_insert">
            </p>
        </div>
    </form>
</div>
<script>
    function showdiv(obj) {
        document.getElementById("bg").style.display = "block";
        document.getElementById("show").style.display = "block";
    }

    function hidediv() {
        document.getElementById("bg").style.display = 'none';
        document.getElementById("show").style.display = 'none';
    }

    function update(obj) {
        var key = $(obj).attr('data-name');
        $('.score').hide();
        $('.' + key).show();
    }

    function submitData(obj) {
        var key = $(obj).attr('data-name');
        $.ajax({
            type: "POST",//
            dataType: "json",//预期服务器返回的数据类型
            url: "shop_config.php?act=" + key,//url
            data: $('#' + key).serialize(),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.sus == 1) {
                    alert("设置成功");
                    hidediv();
                } else {
                    alert(result.msg);
                    hidediv();
                }
            },
        });
    }

</script>
{include file="pagefooter.htm"}
