<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div style="text-align: right;"><a href="home_service.php?act=add_alert"><input class="button" type="submit" value=" 新建弹窗 "></a></div>

<form method="post" action="" name="listForm">
    <!-- start ads list -->
    <div class="list-div" id="listDiv">
        {/if}

        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>标题</th>
                <th>图片</th>
                <th>跳转类型</th>
                <th>状态</th>
                <th>{$lang.handler}</th>
            </tr>
            {foreach from=$alert_list item=list}
            <tr>
                <td class="first-cell">
                    <span>{$list.id}</span>
                </td>

                <td class="first-cell">
                    <span>{$list.title}</span>
                </td>

                <td align="center" width="165px;">
                    <img width="160px;" height="80px;" src="{$list.img_src}" alt="图片">
                </td>
                <td align="center">{if $list.type==1}商品{elseif $list.type==2}web{else}火粉社区{/if}</td>
                <td align="center">{if $list.status==1}弹窗{elseif $list.status==2}不弹窗{/if}</td>

                <td align="right">
                    <a href="home_service.php?act=edit_alert&id={$list.id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
                    <a href="javascript:;" onclick="remove_goods(this,{$list.id})" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
                </td>
            </tr>
            {foreachelse}
            <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
            {/foreach}
            <tr>
                <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
            </tr>
        </table>

        {if $full_page}
    </div>
    <!-- end ad_position list -->
</form>

<script type="text/javascript" language="JavaScript">


    function remove_goods(obj,id){
        if(confirm('确定要删除吗')){
            $.ajax({
                type:'post',
                url:'home_service.php?act=remove_alert',
                data:{id:id},
                dataType:'json',
                success:function(data){  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if(status == 1){  //判断状态码，200为成功
                        $(obj).parent().parent().remove();
                        alert('删除成功')
                    }else{
                        alert('请重新操作')
                    }
                },
            });
        }
    }

</script>
{include file="pagefooter.htm"}
{/if}
