<!-- $Id -->

{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/transport.org.js,validator.js"}
{if $step eq "consignee"}
{insert_scripts files="../js/region.js"}
{/if}

{if $step eq "user"}
<form name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return checkUser()">
<div class="main-div" style="padding: 15px">
  <label><input type="radio" name="anonymous" value="1" checked /> {$lang.anonymous}</label><br />
  <label><input type="radio" name="anonymous" value="0" id="user_useridname" /> {$lang.by_useridname}</label>
  <input name="keyword" type="text" value="" />
  <input type="button" class="button" name="search" value="{$lang.button_search}" onclick="searchUser();" />
  <select name="user"></select>
  <p>{$lang.notice_user}</p>
</div>
<div style="text-align:center">
  <p>
    <input name="submit" type="submit" class="button" value="{$lang.button_next}" />
    <input type="button" value="{$lang.button_cancel}" class="button" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</div>
</form>


{elseif $step eq "shipping"}
<form name="theForm" action="order.php?act=step_post&step={$step}&order_id={$order_id}&step_act={$step_act}" method="post" onsubmit="return checkShipping()">
<div class="list-div">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th width="5%">&nbsp;</th>
    <th width="25%">{$lang.name}</th>
    <th>{$lang.desc}</th>
    <th width="15%">{$lang.shipping_fee}</th>
    <th width="15%">{$lang.free_money}</th>
  <th width="15%">{$lang.insure}</th>
  </tr>
  {foreach from=$shipping_list item=shipping}
  <tr>
    <td><input name="shipping" type="radio" value="{$shipping.shipping_id}" {if $order.shipping_id eq $shipping.shipping_id}checked{/if} onclick="" /></td>
    <td>{$shipping.shipping_name}</td>
    <td>{$shipping.shipping_desc}</td>
    <td><div align="right">{$shipping.format_shipping_fee}</div></td>
    <td><div align="right">{$shipping.free_money}</div></td>
  <td><div align="right">{$shipping.insure}</div></td>
  </tr>
  {/foreach}
  {if $pickup_point_list}
	<tr>
    <th width="5%">&nbsp;</th>
    <th width="25%">门店自提点列表</th>
    <th colspan="4">详细描述</th>
    </tr>
  {foreach from=$pickup_point_list item=shipping}
  <tr>
    <td><input name="pickup_point" type="radio" value="{$shipping.id}" {if $order.pickup_point eq $shipping.id}checked{/if} onclick="" /></td>
    <td>{$shipping.shop_name}</td>
    <td colspan="4">地址:{$shipping.address}&nbsp;&nbsp;联系人:{$shipping.contact}&nbsp;&nbsp;联系方式:{$shipping.phone}</td>
    </tr>
  {/foreach}
  <tr>
  {/if}
</table>
</div>

<p align="right"><input name="insure" type="checkbox" value="1" {if $order.insure_fee > 0}checked{/if} />
{$lang.want_insure}</p>

  <p align="center">
    {if $step_act eq "add"}<input type="button" value="{$lang.button_prev}" class="button" onclick="history.back()" />{/if}
    <input name="{if $step_act eq 'add'}next{else}finish{/if}" type="submit" class="button" value="{if $step_act eq 'add'}{$lang.button_next}{else}{$lang.button_submit}{/if}" />
    <input type="button" value="{$lang.button_cancel}" class="button" onclick="location.href='order.php?act=process&func=cancel_order&order_id={$order_id}&step_act={$step_act}'" />
  </p>
</form>


{elseif $order.inv_type eq 'normal_invoice'}
{if $order.inv_status eq 'provided'}
<form id='invocie_form' name="theForm" action="order.php?act=unprovide_invoice&act_from=invoice_info&order_id={$order.order_id}&order_sns={$order.order_sn}" method="post">
{else}
<form id='invocie_form' name="theForm" action="order.php?act=provide_invoice&act_from=invoice_info&order_id={$order.order_id}&order_sns={$order.order_sn}" method="post">
{/if}
<div class='list-div'>
<table width='100%' cellspacing='1'>
<tbody id='order_info_tbody'>
<tr><th colspan='4'><strong>{$lang.order_info}</strong></th><td colspan='2'>&nbsp</td></tr>
<tr>
<td align='right' width='13%'>{$lang.label_order_sn}</td>
<td width='20%'>{$order.order_sn}</td>
<td align='right' width='13%'>{$lang.label_order_time}</td>
<td width='20%'>{$order.order_time}</td>
<td colspan='2'>&nbsp</td>
</tr>
</tbody>
<tbody id='inv_info_tbody'>
<tr><th colspan='4'><strong>{$lang.inv_info}</strong></th><td colspan='2'>&nbsp</td></tr>
</tr>
<td align='right'>{$lang.label_inv_type}</td>
<td>{$lang[$order.inv_type]}</td>
<td align='right'>{$lang.label_inv_payee}</td>
<td>{$order.inv_payee}</td>
<td colspan='2'>&nbsp</td>
</tr>
<tr>
<td align='right'>{$lang.label_inv_content}</td>
<td>{$order.inv_content}</td>
<td align='right'>{$lang.label_inv_money}</td>
<td>{$order.formatted_inv_money}</td>
<td colspan='2'>&nbsp</td>
</tr>
</tbody>
<tbody id='inv_consignee_info_tbody'>
<tr><th colspan='4'><strong>{$lang.inv_consignee_info}</strong></th><td colspan='2'>&nbsp</td></tr>
<tr>
<td align='right'>{$lang.label_inv_consignee_name}</td>
<td>{$order.consignee}</td>
<td align='right'>{$lang.label_inv_consignee_phone}</td>
<td>{$order.mobile}</td>
<td colspan='2'>&nbsp</td>
</tr>
<tr>
<td align='right'>{$lang.label_inv_consignee_address}</td>
<td>{$order.inv_complete_address}</td>
<td colspan='4'>&nbsp</td>
</tr>
<tr>
<td align='right'>{$lang.label_action_note2}</td>
<td colspan='3'><textarea id='inv_remark' name='inv_remark' type='text' style='height:150px;width:98%;border:none;'>{$order.inv_remark}</textarea></td>
<td colspan='2'>&nbsp</td>
</tr>
</tbody>
<tr>
<th colspan='4' align='center'>
{if $order.inv_status eq 'provided'}
<input class='button' type='submit' value='取消开票' style='margin-top:5px;'/>
{else}
<input class='button' type='submit' value='开票' style='margin-top:5px;'/>
{/if}
</th>
<th colspan='2'>&nbsp</th>
</tr>
</table>
</div>
</form>
{/if}
<script language='javascript' type='text/javascript'>
var origin_inv_remark = '{$order.inv_remark}';
$('inv_remark').onblur=function(){
  if($('inv_remark').value != origin_inv_remark)
  {
    Ajax.call('?act=save_inv_remark','order_id='+{$order.order_id}+'&inv_remark='+$('inv_remark').value,save_inv_remark_response,'GET','POST',false,true);
  }
}
function save_inv_remark_response(result)
{
  if(result.error == '1')
  {
    alert('保存失败\n'+result.msg);
  }
  else
  {
    origin_inv_remark = $('inv_remark').value;
    alert('保存成功');
  }
}
</script>
{/if}
<!--增值税发票_添加_END_www.68ecshop.com-->
{/if}

<script language="JavaScript">
  var step = '{$step}';
  var orderId = {$order_id};
  var act = '{$smarty.get.act}';
{literal}
  function checkUser()
  {
    var eles = document.forms['theForm'].elements;

    /* 如果搜索会员，检查是否找到 */
    if (document.getElementById('user_useridname').checked && eles['user'].options.length == 0)
    {
      alert(pls_search_user);
      return false;
    }
    return true;
  }

  function checkGoods()
  {
    var eles = document.forms['theForm'].elements;

    if (eles['goods_count'].value <= 0)
    {
      alert(pls_search_goods);
      return false;
    }
    return true;
  }

  function checkConsignee()
  {
    var eles = document.forms['theForm'].elements;

    if (eles['country'].value <= 0)
    {
      alert(pls_select_area);
      return false;
    }
    if (eles['province'].options.length > 1 && eles['province'].value <= 0)
    {
      alert(pls_select_area);
      return false;
    }
    if (eles['city'].options.length > 1 && eles['city'].value <= 0)
    {
      alert(pls_select_area);
      return false;
    }
    if (eles['district'].options.length > 1 && eles['district'].value <= 0)
    {
      alert(pls_select_area);
      return false;
    }
	if ((eles['mobile'].value=="") && (eles['tel'].value=="")) {
		alert("手机号和电话至少填一项！");
		return false;
	} else {
		var msg="";
		if ((eles['mobile'].value!="") && !checkPhone(eles['mobile'].value)) {
			msg="手机号格式不正确！\n";
		}
		if ((eles['tel'].value!="") && !checkTel(eles['tel'].value)) {
			msg+="电话号格式不正确！";
		}
		if(msg!=""){
			alert(msg);
			return false;
		}
		
	}
    validator = new Validator("theForm");
    validator.required("consignee",  "收货人为空！");
    validator.required("email",  "电子邮件为空！");
    validator.required("address",  "地址为空！");
   // validator.required("tel",  "电话为空！");
    validator.isEmail("email",  "请输入有效邮件地址！");
   // validator.isMobile("tel",  "请输入有效电话！");
    return validator.passed();
  }
  function checkTel( tel )
  {
    var reg = /^[\d|\-|\s|\_]+$/; //只允许使用数字-空格等
    reg = /^(0[0-9]{2,3}-)?([0-9]{6,7})+(-[0-9]{1,4})?$/;
    return reg.test( tel );
  }
  function checkPhone( mobile )
  {
  	var reg = /^1\d{10}$/; //11位数字，以1开头。
  	return reg.test( mobile );
  }
  function checkShipping()
  {
    if (!radioChecked('shipping'))
    {
      alert(pls_select_shipping);
      return false;
    }
    return true;
  }

  function checkPayment()
  {
    if (!radioChecked('payment'))
    {
      alert(pls_select_payment);
      return false;
    }
    return true;
  }

  /**
   * 返回某 radio 是否被选中一个
   * @param string radioName
   */
  function radioChecked(radioName)
  {
    var eles = document.forms['theForm'].elements;

    for (var i = 0; i < eles.length; i++)
    {
      if (eles[i].name == radioName && eles[i].checked)
      {
        return true;
      }
    }
    return false;
  }

  /**
   * 按用户编号或用户名搜索用户
   */
  function searchUser()
  {
    var eles = document.forms['theForm'].elements;

    /* 填充列表 */
    var idName = Utils.trim(eles['keyword'].value);
    if (idName != '')
    {
      Ajax.call('order.php?act=search_users&id_name=' + idName, '', searchUserResponse, 'GET', 'JSON');
    }
  }

  function searchUserResponse(result)
  {
    if (result.message.length > 0)
    {
      alert(result.message);
    }

    if (result.error == 0)
    {
      var eles = document.forms['theForm'].elements;

      /* 清除列表 */
      var selLen = eles['user'].options.length;
      for (var i = selLen - 1; i >= 0; i--)
      {
        eles['user'].options[i] = null;
      }
      var arr = result.userlist;
      var userCnt = arr.length;

      for (var i = 0; i < userCnt; i++)
      {
        var opt = document.createElement('OPTION');
        opt.value = arr[i].user_id;
        opt.text = arr[i].user_name;
        eles['user'].options.add(opt);
      }
    }
  }

  /**
   * 按商品编号或商品名称或商品货号搜索商品
   */
  function searchGoods()
  {
    var eles = document.forms['goodsForm'].elements;

    /* 填充列表 */
    var keyword = Utils.trim(eles['keyword'].value);
    if (keyword != '')
    {
      Ajax.call('order.php?act=search_goods&keyword=' + keyword, '', searchGoodsResponse, 'GET', 'JSON');
    }
  }

  function searchGoodsResponse(result)
  {
    if (result.message.length > 0)
    {
      alert(result.message);
    }

    if (result.error == 0)
    {
      var eles = document.forms['goodsForm'].elements;

      /* 清除列表 */
      var selLen = eles['goodslist'].options.length;
      for (var i = selLen - 1; i >= 0; i--)
      {
        eles['goodslist'].options[i] = null;
      }

      var arr = result.goodslist;
      var goodsCnt = arr.length;
      if (goodsCnt > 0)
      {
        for (var i = 0; i < goodsCnt; i++)
        {
          var opt = document.createElement('OPTION');
          opt.value = arr[i].goods_id;
          opt.text = arr[i].name;
          eles['goodslist'].options.add(opt);
        }
        getGoodsInfo(arr[0].goods_id);
      }
      else
      {
        getGoodsInfo(0);
      }
    }
  }

  /**
   * 取得某商品信息
   * @param int goodsId 商品id
   */
  function getGoodsInfo(goodsId)
  {
    if (goodsId > 0)
    {
      Ajax.call('order.php?act=json&func=get_goods_info', 'goods_id=' + goodsId, getGoodsInfoResponse, 'get', 'json');
    }
    else
    {
      document.getElementById('goods_name').innerHTML = '';
      document.getElementById('goods_sn').innerHTML = '';
      document.getElementById('goods_cat').innerHTML = '';
      document.getElementById('goods_brand').innerHTML = '';
      document.getElementById('add_price').innerHTML = '';
      document.getElementById('goods_attr').innerHTML = '';
    }
  }
  function getGoodsInfoResponse(result)
  {
    var eles = document.forms['goodsForm'].elements;

    // 显示商品名称、货号、分类、品牌
    document.getElementById('goods_name').innerHTML = result.goods_name;
    document.getElementById('goods_sn').innerHTML = result.goods_sn;
    document.getElementById('goods_cat').innerHTML = result.cat_name;
    document.getElementById('goods_brand').innerHTML = result.brand_name;

    // 显示价格：包括市场价、本店价（促销价）、会员价
    var priceHtml = '<input type="radio" name="add_price" value="' + result.market_price + '" />市场价 [' + result.market_price + ']<br />' +
      '<input type="radio" name="add_price" value="' + result.goods_price + '" checked />本店价 [' + result.goods_price + ']<br />';
    for (var i = 0; i < result.user_price.length; i++)
    {
      priceHtml += '<input type="radio" name="add_price" value="' + result.user_price[i].user_price + '" />' + result.user_price[i].rank_name + ' [' + result.user_price[i].user_price + ']<br />';
    }
    priceHtml += '<input type="radio" name="add_price" value="user_input" />' + input_price + '<input type="text" name="input_price" value="" /><br />';
    document.getElementById('add_price').innerHTML = priceHtml;

    // 显示属性
    var specCnt = 0; // 规格的数量
    var attrHtml = '';
    var attrType = '';
    var attrTypeArray = '';
    var attrCnt = result.attr_list.length;
    for (i = 0; i < attrCnt; i++)
    {
      var valueCnt = result.attr_list[i].length;

      // 规格
      if (valueCnt > 1)
      {
        attrHtml += result.attr_list[i][0].attr_name + ': ';
        for (var j = 0; j < valueCnt; j++)
        {
          switch (result.attr_list[i][j].attr_type)
          {
            case '0' :
            case '1' :
              attrType = 'radio';
              attrTypeArray = '';
            break;

            case '2' :
              attrType = 'checkbox';
              attrTypeArray = '[]';
            break;
          }
          attrHtml += '<input type="' + attrType + '" name="spec_' + specCnt + attrTypeArray + '" value="' + result.attr_list[i][j].goods_attr_id + '"';
          if (j == 0)
          {
            attrHtml += ' checked';
          }
          attrHtml += ' />' + result.attr_list[i][j].attr_value;
          if (result.attr_list[i][j].attr_price > 0)
          {
            attrHtml += ' [+' + result.attr_list[i][j].attr_price + ']';
          }
          else if (result.attr_list[i][j].attr_price < 0)
          {
            attrHtml += ' [-' + Math.abs(result.attr_list[i][j].attr_price) + ']';
          }
        }
        attrHtml += '<br />';
        specCnt++;
      }
      // 属性
      else
      {
        attrHtml += result.attr_list[i][0].attr_name + ': ' + result.attr_list[i][0].attr_value + '<br />';
      }
    }
    eles['spec_count'].value = specCnt;
    document.getElementById('goods_attr').innerHTML = attrHtml;
  }

  /**
   * 把商品加入订单
   */
  function addToOrder()
  {
    var eles = document.forms['goodsForm'].elements;

    // 检查是否选择了商品
    if (eles['goodslist'].options.length <= 0)
    {
      alert(pls_search_goods);
      return false;
    }
    return true;
  }

  /**
   * 载入收货地址
   * @param int addressId 收货地址id
   */
  function loadAddress(addressId)
  {
{/literal}
    location.href += 'order.php?act={$smarty.get.act}&order_id={$smarty.get.order_id}&step={$smarty.get.step}&address_id=' + addressId;
{literal}
  }
</script>
{/literal}

{include file="pagefooter.htm"}
