<!-- $Id: order_query.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
    <form action="app_excel.php?act=excel" method="post" enctype="multipart/form-data" name="searchForm">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td><div align="right"><strong>请选择订单状态：</strong></div></td>
                <td colspan="3">
                    <select name="order_status" id="select9">
                        <option value="-1">请选择...</option>
                        <option value="2">待发货</option>
                        <option value="3">待收货</option>
                        <option value="4">待评价</option>
                        <option value="5">已完成</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><div align="right"><strong>请选择下单时间：</strong></div></td>
                <td>
                    <input type="text" name="start_time" maxlength="60" size="20" readonly="readonly" id="start_time_id" />
                    <input name="start_time_btn" type="button" id="start_time_btn" onclick="return showCalendar('start_time_id', '%Y-%m-%d %H:%M', '24', false, 'start_time_btn');" value="{$lang.btn_select}" class="button"/>
                    ~
                    <input type="text" name="end_time" maxlength="60" size="20" readonly="readonly" id="end_time_id" />
                    <input name="end_time_btn" type="button" id="end_time_btn" onclick="return showCalendar('end_time_id', '%Y-%m-%d %H:%M', '24', false, 'end_time_btn');" value="{$lang.btn_select}" class="button"/>
                </td>
            </tr>

            <tr>
                <td colspan="4"><div align="center">
                    <input name="query" type="submit" class="button" id="query" value="开始导出" />
                </div></td>
            </tr>
        </table>
    </form>
</div>
{insert_scripts files="../js/transport.org.js,../js/region.js"}
{literal}
<script language="JavaScript">
region.isAdmin = true;
onload = function()
{
    var today = new Date();
    var month=today.getMonth()+1;
    var day=today.getDate()+'';

    document.getElementById("start_time_id").value=today.getFullYear()+"-"+(month.length==2?month:'0'+month)+"-"+(day.length==2?day:'0'+day)+" 00:00";
    document.getElementById("end_time_id").value=today.getFullYear()+"-"+(month.length==2?month:'0'+month)+"-"+(day.length==2?day:'0'+day)+" 23:59";
  // 开始检查订单
  startCheckOrder();
}


</script>
{/literal}
{include file="pagefooter.htm"}
