<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}


<div class="form-div">
  <form action="" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    按属性查找<select name="attrid" onchange="searchAttr(this.value)">
    {foreach from=$attr_ids item=attr_ids}
    <option value="{$attr_ids.attr_id} {if $attrid=$attr_ids.attr_id}selected{/if}">{$attr_ids.attr_title}</option>
    {/foreach}
  </select>
  </form>
</div>
<form method="post" action="" name="listForm">
<!-- start ads list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>编号</th>
    <th>属性名字</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$nav_list item=list}
     <tr>
    <td class="first-cell">
    <span>{$list.attr_val_id}</span>
    </td>
       <td align="center"><span onclick="update_name(this)">{$list.attr_val_name|escape:html}</span><input type="text" name="update_name" value="{$list.attr_val_name|escape:html}" style="display:none;" onblur="update_names(this,'attr_val_name',{$list.attr_val_id})"/></td>
      <td align="right">
      <a href="javascript:;" onclick="remove_goods(this,{$list.attr_val_id})" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
  {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->
</form>

<script type="text/javascript" language="JavaScript">
  function searchAttr(goodsType)
  {
    listTable.filter.attrid = goodsType;
    listTable.filter.page = 1;
    listTable.loadList();
  }
  function update_name(obj){
      $(obj).text('');
      $(obj).next().show();
  }
  function remove_goods(obj,id){
      if(confirm('确定要删除吗')){
         $.ajax({
                type:'post',
                url:'app_attr.php?act=remove_val',
                data:{id:id},
                dataType:'json',
                success:function(data){  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if(status == 1){  //判断状态码，200为成功
                        $(obj).parent().parent().remove();
                       alert('删除成功')
                    }else{
                        alert('请重新操作')
                    }
                },
            });
      }
  }
  function update_names(obj,key,id){
      var title = $(obj).val();
      if(title===''){
          alert('名字不能为空');
          return;
      }
      $.ajax({
                type:'post',
                url:'app_attr.php?act=update_name_val',
                data:{key:key,id:id,title:title},
                dataType:'json',
                success:function(data){  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if(status == 1){  //判断状态码，200为成功
                        $(obj).val(title);
                        $(obj).hide();
                        $(obj).prev().text(title);
                    }else{
                        alert('请重新操作')
                    }
                },
            });
  }
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "query_val"
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
