
{include file="pageheader.htm"}

<!-- 20180521 1600 V -->
<style type="text/css">
    
    .box {

        padding: 20px;
    }

    .box span {

        display: inline-block;
    }

</style>

<div class="main-div box">

    <input type="button" class="button" value="属性管理" onclick="location.href='app_attr.php?act=attr_list'" >
    <input type="button" class="button" value="属性值管理" onclick="location.href='app_attr.php?act=attr_val_list'">
    <input type="button" class="button" value="分类管理" onclick="location.href='app_cate.php?act=list'">

</div>

{literal}

{/literal}

{include file="pagefooter.htm"}
