<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div style="text-align: right;"><a href="app_deal.php?act=rec"><input class="button" type="button" value=" 交易大厅曲线图 "></a></div>
<div class="form-div">
    <form action="app_deal.php?act=deal_list" name="">

         <input name="thedate" value="{$thedate}" id="thedate" type="text"
            style="min-width: 20px" readonly="readonly"
            onclick="return showCalendar('thedate', '%Y-%m-%d', false, true, 'thedate');">
        <select name="status">
          <option value="1" {if $status==1}selected{/if}>待确认</option>
          <option value="2" {if $status==2}selected{/if}>完成</option>
          <option value="3" {if $status==3}selected{/if}>有误</option>
          <option value="4" {if $status==4}selected{/if}>确认有误</option>
          <option value="5" {if $status==5}selected{/if}>已取消</option>
          <option value="6" {if $status==6}selected{/if}>出售中</option>
          <option value="7" {if $status==7}selected{/if}>求购中</option>
        </select>
        <input type="hidden" name="act" value="deal_list">
        <input type="submit" value=" 搜索 " class="button">
    </form>

    <form action="app_excel.php?act=trade_detail" method="post" enctype="multipart/form-data" name="searchForm">

        开始时间：<input name="time" value="{$time}" id="time" type="text"
            style="min-width: 20px" readonly="readonly"
            onclick="return showCalendar('time', '%Y-%m-%d', false, true, 'time');">
         结束时间：<input name="endtime" value="{$endtime}" id="endtime" type="text"
            style="min-width: 20px" readonly="readonly"
            onclick="return showCalendar('endtime', '%Y-%m-%d', false, true, 'endtime');">

        <select name="status">
          <option value="1" {if $status==1}selected{/if}>待确认</option>
          <option value="2" {if $status==2}selected{/if}>完成</option>
          <option value="3" {if $status==3}selected{/if}>有误</option>
          <option value="4" {if $status==4}selected{/if}>确认有误</option>
        </select>
        <input type="submit" value=" 导出 " class="button">
    </form>
</div>
<form method="post" action="" name="listForm">
<!-- start ads list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>编号</th>
    <th>出售人账号</th>
    <th>出售状态</th>
    <th>出售个数</th>
    <th>发布时间</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$nav_list item=list}
     <tr>
    <td class="first-cell">
    <span>{$list.td_id}</span>
    </td>
       <td class="first-cell">
    <span>{$list.user_name}</span>
    </td>
       <td class="first-cell">
    <span>{$list.td_status}</span>
    </td>
       <td class="first-cell">
    <span>{$list.td_num}</span>
    </td>
       <td class="first-cell">
    <span>{$list.trade_gmt_create}</span>
    </td>
      <td align="right">
     <span><a href="app_deal.php?act=edit_deal&tid={$list.td_id}">查看详情</a></span>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
  {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->
</form>

<script type="text/javascript" language="JavaScript">
  function searchAttr(goodsType)
  {

    listTable.filter.page = 1;
    listTable.loadList();
  }
   listTable.filter.status = {$status};
    listTable.filter.thedate = "{$thedate}";
    listTable.filter.thedate = "{$time}";
    listTable.filter.thedate = "{$endtime}";
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "query"
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
