<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<div class="form-div">
    <form action="app_dealing_list.php?act=list" name="">
        <input type="text" name="keywords" value="{$keywords}" placeholder="用户名">
        <input type="hidden" name="act" value="list">
        <input type="submit" value=" 搜索 " class="button">
        <span style="color: red;font-size: 16px;margin-left: 8px;">交易中总额:{$total_money}</span>
    </form>
</div>
<form method="post" action="" name="listForm">
<!-- start ads list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>编号</th>
    <th>出售人账号</th>
    <th>出售状态</th>
    <th>出售个数</th>
    <th>发布时间</th>

  </tr>
  {foreach from=$nav_list item=list}
     <tr>
    <td class="first-cell">
    <span>{$list.trade_id}</span>
    </td>
       <td class="first-cell">
    <span>{$list.user_name}</span>
    </td>
       <td class="first-cell">
    <span>{$list.status}</span>
    </td>
       <td class="first-cell">
    <span>{$list.trade_num}</span>
    </td>
       <td class="first-cell">
    <span>{$list.trade_gmt_create}</span>

  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
  {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->
</form>

<script type="text/javascript" language="JavaScript">
  function searchAttr(goodsType)
  {

    listTable.filter.page = 1;
    listTable.loadList();
  }
   listTable.filter.keywords = {$keywords};
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.query = "query"
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
