<!-- $Id: ads_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
    <form action="home_service.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
        <table width="100%" id="general-table">
            <tr>
                <td  class="label">
                        </a>客服账号</td>
                <td>
                    <input type="text" name="name" value="{$nav.user_name}" size="35" /><span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td  class="label">
                        </a>客服类型</td>
                <td>
                    <select class="chzn-select" name="type">
						<option value="1" {if $nav.type==1}selected{/if}>商城</option>
                        <option value="2" {if $nav.type==2}selected{/if}>系统</option>
                        <option value="3" {if $nav.type==3}selected{/if}>交易大厅</option>
                    </select>
                </td>
            </tr>
            </tbody>
            <tr>
                <td class="label">&nbsp;</td>
                <td>
                    <input type="submit" value="{$lang.button_submit}" class="button" onclick="return checkImg();"/>
                    <input type="reset" value="{$lang.button_reset}" class="button" />
                    <input type="hidden" name="act" value="{$form_act}" />
                    <input type="hidden" name="id" value="{$nav.service_id}" />
                </td>
            </tr>
        </table
    </form>
</div>

{include file="pagefooter.htm"}
