<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="post" action="" name="listForm">
<!-- start ads list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>编号</th>
    <th>热搜名字</th>
    <th>排序</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$nav_list item=list}
     <tr>
    <td class="first-cell">
    <span>{$list.sk_id}</span>
    </td>
      <td align="right"><span onclick="update_name(this)">{$list.sk_title|escape:html}</span><input type="text" name="update_name" value="{$list.sk_title|escape:html}" style="display:none;" onblur="update_names(this,'sk_title',{$list.sk_id})"/></td>
       <td align="center"><span onclick="update_name(this)">{$list.sk_sort|escape:html}</span><input type="text" name="update_name" value="{$list.sk_sort|escape:html}" style="display:none;" onblur="update_names(this,'sk_sort',{$list.sk_id})"/></td>
      <td align="right">
      <a href="home_hot_search.php?act=edit&id={$list.sk_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="javascript:;" onclick="remove_goods(this,{$list.sk_id})" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
  {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->
</form>

<script type="text/javascript" language="JavaScript">

  function update_name(obj){
      $(obj).text('');
      $(obj).next().show();
  }
  function remove_goods(obj,id){
      if(confirm('确定要删除吗')){
         $.ajax({
                type:'post',
                url:'home_hot_search.php?act=remove',
                data:{id:id},
                dataType:'json',
                success:function(data){  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if(status == 1){  //判断状态码，200为成功
                        $(obj).parent().parent().remove();
                       alert('删除成功')
                    }else{
                        alert('请重新操作')
                    }
                },
            });
      }
  }
  function update_names(obj,key,id){
      var title = $(obj).val();
      if(title===''){
          alert('名字不能为空');
          return;
      }
      $.ajax({
                type:'post',
                url:'home_hot_search.php?act=update_name',
                data:{key:key,id:id,title:title},
                dataType:'json',
                success:function(data){  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if(status == 1){  //判断状态码，200为成功
                        $(obj).val(title);
                        $(obj).hide();
                        $(obj).prev().text(title);
                    }else{
                        alert('请重新操作')
                    }
                },
            });
  }
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
