<!-- $Id: ads_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="post" action="" name="listForm">
<!-- start ads list -->
<div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>编号</th>
    <th>客服名字</th>
    <th>客服类型</th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$nav_list item=list}
     <tr>
    <td class="first-cell">
    <span>{$list.service_id}</span>
    </td>
       <td align="center">{$list.user_name}</td>
       <td align="center">{if $list.type==1}商城{elseif $list.type==3}交易大厅{else}系统{/if}</td>
      <td align="right">
      <a href="home_service.php?act=edit&id={$list.service_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="javascript:;" onclick="remove_goods(this,{$list.service_id})" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_ads}</td></tr>
  {/foreach}
  <tr>
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end ad_position list -->
</form>

<script type="text/javascript" language="JavaScript">


  function remove_goods(obj,id){
      if(confirm('确定要删除吗')){
         $.ajax({
                type:'post',
                url:'home_service.php?act=remove',
                data:{id:id},
                dataType:'json',
                success:function(data){  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if(status == 1){  //判断状态码，200为成功
                        $(obj).parent().parent().remove();
                       alert('删除成功')
                    }else{
                        alert('请重新操作')
                    }
                },
            });
      }
  }

</script>
{include file="pagefooter.htm"}
{/if}
