
{include file="pageheader.htm"}

<!-- 20180521 1600 V -->
<style type="text/css">
    
    .box {

        padding: 20px;
    }

    .box span {

        display: inline-block;
    }

</style>

<div class="main-div box">

    <input type="button" class="button" value="首页轮播管理" onclick="location.href='carousel.php?act=list'" >
    <input type="button" class="button" value="首页导航栏管理" onclick="location.href='home_navigation.php?act=list'">
    <input type="button" class="button" value="首页商品推荐管理" onclick="location.href='home_goods.php?act=list'">
     <input type="button" class="button" value="首页热搜词管理" onclick="location.href='home_hot_search.php?act=list'">
    <input type="button" class="button" value="客服管理" onclick="location.href='home_service.php?act=list'">

</div>

{literal}

{/literal}

{include file="pagefooter.htm"}
