<!-- $Id: ads_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
    <form action="app_message.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
        <table width="100%">
             <tr>
                   <td class="label">
						消息标题
					</td>
					<td>
						<input type="text" name="title" value="{$message.am_title}" size="20"  />
					</td>
            </tr>
            <tr>
                   <td class="label">
						消息内容
					</td>
					<td>
						<textarea name="content">{$message.am_content}</textarea>
					</td>
            </tr>
            <tr>
					<td class="label">图片</td>
					<td>
						<input type="file" name="thumb" size="35" />
						<input type="hidden" name="thumb_hidden" size="35" value="{$message.am_img}"/>
                        {if $message.am_img}
						<a href="app_goods.php?act=show_image&img_url={$message.am_img}" target="_blank">
							<img src="images/yes.gif" border="0" />
						</a>
						{else}
						<img src="images/no.gif" />
						{/if}
					</td>
				</tr>
            <tr>
                 <td class="label">
						消息详情
					</td>
                <td>{$FCKeditor}</td>
            </tr>
            <tr>
                <td class="label">&nbsp;</td>
                <td>
                    <input type="submit" value="{$lang.button_submit}" class="button" onclick="return checkImg();"/>
                    <input type="reset" value="{$lang.button_reset}" class="button" />
                    <input type="hidden" name="act" value="{$form_act}" />
                    <input type="hidden" name="am_id" value="{$message.am_id}" />
                </td>
            </tr>
        </table>
    </form>
</div>

{include file="pagefooter.htm"}
