<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->

{if $full_page}
<!-- 商品列表 -->
<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
    <div class="list-div" id="listDiv">
        {/if}
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>用户名</th>
                <th>用户电话</th>
                <th>商品名</th>
                <th>商品图片</th>
                <th>发货状态</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>收货地址</th>
                <th>运单号</th>
                <th>操作</th>
            <tr>

                {foreach from=$order_list item=goods}
            <tr>
                <td>{$goods.id}</td>
                <td class="first-cell"><span>{$goods.nickname|escape:html}</span><input
                        type="text" name="update_name" style="display:none;"/></td>
                <td class="first-cell"><span>{$goods.mobile_phone|escape:html}</span><input
                        type="text" name="update_name" style="display:none;"/></td>
                <td class="first-cell"><span>{$goods.goods_name|escape:html}</span><input
                        type="text" name="update_name" style="display:none;"/></td>
                <td width="165px;">
                    <img width="160px;" height="80px;" src="{$goods.goods_img|escape:html}" alt="">
                </td>
                <td class="first-cell"><span>{$goods.order_status_name|escape:html}</span><input
                        type="text" name="update_name" style="display:none;"/></td>

                <td class="first-cell">
                    <span>{$goods.name}</span>
                </td>

                <td class="first-cell">
                    <span>{$goods.phone}</span>
                </td>

                <td class="first-cell">
                    <span>{$goods.address}</span>
                </td>

                <td class="first-cell"><span>{$goods.order_no|escape:html}</span><input
                        type="text" name="update_name" style="display:none;"/></td>
                <td align="center">
                    <a href="javascript:;" onclick="send_fahuo(this,{$goods.id})" title="点击发货"><img
                            src="images/icon_edit.gif" width="16" height="16" border="0"/></a>
                </td>
            </tr>

            {foreachelse}
            <tr>
                <td class="no-records" colspan="15">{$lang.no_records}</td>
            </tr>
            {/foreach}
            <tr>
                <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
            </tr>
        </table>

        {if $full_page}
    </div>
</form>


<script type="text/javascript" language="JavaScript">
    // function update_name(obj) {
    //     $(obj).text('');
    //     $(obj).next().show();
    // }

    function remove_goods(obj, id) {
        if (confirm('确定要删除吗')) {
            $.ajax({
                type: 'post',
                url: 'mid_autumn.php?act=remove_goods',
                data: {id: id},
                dataType: 'json',
                success: function (data) {  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if (status == 1) {  //判断状态码，200为成功
                        $(obj).parent().parent().remove();
                        alert('删除成功')
                    } else {
                        alert('请重新操作')
                    }
                },
            });
        }
    }

    function send_fahuo(obj, id) {
        var word = prompt("请输入运单号", "");
        if (word) {
            //输出word的格式
            $.ajax({
                type: 'post',
                url: 'mid_winning.php?act=update_order',
                data: {id: id, order_no: word},
                dataType: 'json',
                success: function (data) {  //请求成功回调函数
                    var status = data.status; //获取返回值
                    if (status == 1) {  //判断状态码，200为成功
                        $(obj).parent().prev().children('span').text('已发');
                        alert('发货成功')
                    } else {
                        alert('请重新操作')
                    }
                },
            });
        }
    }

    function update_status(obj, key, id) {
        var status = $(obj).attr('data');
        $.ajax({
            type: 'post',
            url: 'app_goods.php?act=update_status',
            data: {key: key, id: id, status: status},
            dataType: 'json',
            success: function (data) {  //请求成功回调函数
                var status = data.status; //获取返回值
                if (status == 1) {  //判断状态码，200为成功
                    $(obj).attr('data', status);
                    $(obj).attr('src', 'images/yes.gif');
                } else if (status == 0 || status == 2) {
                    $(obj).attr('data', status);
                    $(obj).attr('src', 'images/no.gif');
                }
            },
        });
    }

    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
        {literal}
        function searchApply()
        {
            listTable.filter['page'] = 1;
            listTable.loadList();
        }
        {/literal}


</script>
{include file="pagefooter.htm"}
{/if}
