<!-- $Id: ads_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
    <form action="home_service.php" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
        <table width="100%" id="general-table">

            <tr>
                <td class="label">分享图片</td>
                <td>
                    <input type="file" name="share_img" size="35" />
                    <input type="hidden" name="share_img_hidden" size="35" value="{$share.img_src}"/>
                </td>
            </tr>

            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="share_p_sort" size="35" value="{$share.p_sort}" />
                </td>
            </tr>

            <tr>
                <td class="label">&nbsp;</td>
                <td>
                    <input type="submit" value="{$lang.button_submit}" class="button" onclick="return checkImg();"/>
                    <input type="reset" value="{$lang.button_reset}" class="button" />
                    <input type="hidden" name="act" value="{$form_act}" />
                    <input type="hidden" name="id" value="{$share.id}" />
                </td>
            </tr>
        </table>
    </form>
</div>

{include file="pagefooter.htm"}
