<!-- $Id: goods_list.htm 17126 2010-04-23 10:30:26Z liuhui $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<!-- 筛选 -->
<div class="form-div">
    <form action="user_account.php?act=list" name="">

        <select name="type">
            <option value="1" {if $type==1}selected{/if}>可用优惠券</option>
            <option value="2" {if $type==2}selected{/if}>待释放优惠券</option>
        </select>

        <input type="hidden" name="act" value="list">
        <input type="submit" value=" 搜索 " class="button">
    </form>
</div>

<!-- 消息列表 -->
<form method="post" action="" name="listForm" onsubmit="return confirmSubmit(this)">
    <div class="list-div" id="listDiv">
        {/if}
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>用户手机号</th>
                <th>真实姓名</th>
                <th>优惠券金额</th>
                <th>操作</th>
            <tr>
            {foreach from=$users_list item=user}
                <tr>

                    <td>{$user.mobile_phone}</td>

                    <td>{$user.real_name}</td>

                    <td>{$user.balance}</td>

                    <td>
                        <a href="top_account.php?act=list&user_id={$user.user_id}" title="{$lang.view_deposit}">
                            <img src="images/icon_account.gif" border="0" height="16" width="16" />
                        </a>
                    </td>

                </tr>
            {foreachelse}
            <tr>
                <td class="no-records" colspan="15">{$lang.no_records}</td>
            </tr>
            {/foreach}
            <tr>
                <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
            </tr>
        </table>

        {if $full_page}
    </div>
</form>

<script type="text/javascript" language="JavaScript">


    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
        {literal}
        function searchApply()
        {
            listTable.filter['page'] = 1;
            listTable.loadList();
        }
        {/literal}
</script>
{include file="pagefooter.htm"}
{/if}
