
{include file="pageheader.htm"}

<!-- 20180521 1733 V -->

{insert_scripts files="../js/chart/echarts.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    
    .box {

        padding: 20px;
    }

    .tips {

        display: grid;
        grid-template-columns: 260px auto;
    }

    .tips span {

        display: inline-block;
        margin: 0.5rem 0.5rem;
        padding: 0.2rem 0.5rem;
        border-radius: 3px;
    }
    .time {

        width: 260px;
        border-right: 1px solid #4294ce;
    }

    .time span{

        font-size: 1rem;
        color: #fff;
        background: #EB8A3D;
    }

    .data span {

        border-right: 1px solid #ddd;
        font-size: 0.8rem;
    }
    
</style>

<div class="form-div">
    <form action="chart_group.php" name="">

         <input name="thedate" value="{$thedate}" id="thedate" type="text" 
            style="min-width: 20px" readonly="readonly"
            onclick="return showCalendar('thedate', '%Y-%m-%d', false, true, 'thedate');">

        <input type="hidden" name="act" value="horder">
        <input type="submit" value=" 搜索 " class="button">
    </form>
</div>

<div class="main-div tips">

    <div class="time">
        <span>{$time[0]}</span> 至
        <span>{$time[1]}</span>
    </div>

    <div class="data">
        <span>累计购买 H 单数量：{$bar_data.num}</span>
        <span>累计花费新美积分：{$bar_data.xps}</span>
        <span>累计回购 H 单数量：{$bar_data.num_}</span>
        <span>累计回购新美积分：{$bar_data.xps_}</span>
    </div>

</div>

<div class="main-div box">

    <div id="main" style="width: 100%; height: 400px;"></div>

</div>

{literal}
    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: ''
            },
            tooltip: {
                trigger: 'axis'
            },

            // legend: {
            //     data:['购买 H 单数量','花费新美积分','H 单回购数量','回购新美积分']
            // },
            legend: {
                data:['购买 H 单数量','H 单回购数量','花费新美积分','花费消费积分','回购新美积分']
            },

            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [{$ret.date_str}]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'购买 H 单数量',
                    type:'line',
                    stack: '总量',
                    smooth: true,
                    data:[{$ret.hnum}]
                },
                {
                    name:'H 单回购数量',
                    type:'line',
                    stack: '总量',
                    smooth: true,
                    data:[{$ret.hnum_}]
                },
                {
                    name:'花费新美积分',
                    type:'line',
                    stack: '总量',
                    smooth: true,
                    data:[{$ret.hxps}]
                },
                {
                    name:'花费消费积分',
                    type:'line',
                    stack: '总量',
                    smooth: true,
                    data:[{$ret.hcps}]
                },
                {
                    name:'回购新美积分',
                    type:'line',
                    stack: '总量',
                    smooth: true,
                    data:[{$ret.hxps_}]
                }                

            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    </script>
{/literal}

{include file="pagefooter.htm"}
