
{include file="pageheader.htm"}

<!-- 20180521 1600 V -->
<style type="text/css">
    
    .box {

        padding: 20px;
    }

    .box span {

        display: inline-block;
    }

</style>

<div class="main-div box">



    <input type="button" class="button" value="T 积分排行" onclick="location.href='integral_ranking_new_list.php?act=list&rank_type=1&rank_level=4&to_user_id=0'" >
    <input type="button" class="button" value="可用新美积分排行" onclick="location.href='integral_ranking_new_list.php?act=list&rank_type=2&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="冻结新美积分排行" onclick="location.href='integral_ranking_new_list.php?act=list&rank_type=3&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="总新美积分排行" onclick="location.href='integral_ranking_new_list.php?act=list&rank_type=4&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="消费积分排行" onclick="location.href='integral_ranking_new_list.php?act=list&rank_type=5&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="待用积分排行" onclick="location.href='integral_ranking_new_list.php?act=list&rank_type=6&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="奖金池排行" onclick="location.href='integral_ranking_new_list.php?act=list&rank_type=7&rank_level=4&to_user_id=0'">

    <br>

    <input type="button" class="button" value="充值排行" onclick="location.href='integral_ranking_other_list.php?act=list&rank_type=1&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="提现排行" onclick="location.href='integral_ranking_other_list.php?act=list&rank_type=2&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="报单排行" onclick="location.href='integral_ranking_other_list.php?act=list&rank_type=3&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="H 单购买排行" onclick="location.href='integral_ranking_other_list.php?act=list&rank_type=4&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="H 单回购排行" onclick="location.href='integral_ranking_other_list.php?act=list&rank_type=5&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="精品购买排行" onclick="location.href='integral_ranking_other_list.php?act=list&rank_type=6&rank_level=4&to_user_id=0'">
    <input type="button" class="button" value="个人充值排行" onclick="location.href='recharge_audit_count_new.php?act=list'">
    <input type="button" class="button" value="个人提现排行" onclick="location.href='cash_count_list_new.php?act=list'">

    <br>

    <input type="button" class="button" value="充值-提现-报单图表" onclick="location.href='chart_group.php?act=rec'">
    <input type="button" class="button" value="H 单图表" onclick="location.href='chart_group.php?act=horder'">
    <input type="button" class="button" value="新增用户图表" onclick="location.href='user_added_stats.php?act=list'">
    <input type="button" class="button" value="精品商城购买图表" onclick="location.href='chart_group.php?act=jorder'">
    <input type="button" class="button" value="平台总账户管理" onclick="location.href='platform_list.php?act=list'">


</div>

{literal}

{/literal}

{include file="pagefooter.htm"}
